<template>
  <v-app>
    <AdminDashboardNavBar />
    <v-main>
      <router-view></router-view>
    </v-main>
    <v-footer class="font-weight-medium">
      <v-col class="text-center" cols="12">
        &copy; {{ new Date().getFullYear() }} —
        <strong>Admin Dashoard</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>
<script>
import AdminDashboardNavBar from "../components/AdminDashboardNavBar";

export default {
  name: "admin-new",
  data() {
    return {
      drawer: null,
    };
  },
  components: {
    AdminDashboardNavBar,
  },
};
</script>
<style lang="scss">
.admin-new {
  width: 100%;
  height: 100vh;
}
</style>
