<template>
  <div style="padding:15px">
    <v-row>
      <v-breadcrumbs :items="items">
        <template v-slot:divider>
          <v-icon>mdi-forward</v-icon>
        </template>
      </v-breadcrumbs>
    </v-row>
    <v-layout flex align-end justify-end style="padding-bottom:10px">
      <v-btn
        @click.stop="dialog = true"
        color="success"
        style="text-transform:capitalize"
      >
        add Admin
        <v-icon style="margin-left:3px">mdi-plus</v-icon>
      </v-btn>
    </v-layout>
    <v-card>
      <v-card-title>
        Administrators
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="admininstrators"
        :search="search"
        :loading="fetchAdministratorsLoading"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
        <template v-slot:[`item.role`]="{ item }">{{ item.role }}</template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="mx-2"
            fab
            dark
            small
            color="cyan"
            v-bind="attrs"
                v-on="on"
            @click="launchEdit(item.id)"
          >
            <v-icon dark>mdi-pencil</v-icon>
          </v-btn>
           </template>
            <span>Edit</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
      :loading="postAdministratorLoading"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Add Admin</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  label="First name*"
                  v-model="firstname"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  label="Last Name*"
                  v-model="lastname"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Email*"
                  v-model="email"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <span>Adninistrator role</span>
                <v-select
                  :items="roles"
                  v-model="role"
                  label="Select Role"
                  dense
                  outlined
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Password*"
                  v-model="password"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Close</v-btn
          >
          <v-btn
            color="blue darken-1"
            text
            @click="postAdmin"
            :loading="postAdministratorLoading"
            >Save</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editDialog" persistent max-width="600px">
      <v-card :loading="updateAdminLoading">
        <v-card-title>
          <span class="headline">Edit Admin</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  label="First name*"
                  v-model="firstname"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  label="Last Name*"
                  v-model="lastname"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Email*"
                  v-model="email"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <span>Adninistrator role</span>
                <v-select
                  :items="roles"
                  v-model="role"
                  label="Select Role"
                  dense
                  outlined
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Password*"
                  v-model="password"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="editDialog = false"
            >Close</v-btn
          >
          <v-btn
            color="blue darken-1"
            text
            @click="updateAdmin"
            :loading="updateAdminLoading"
            >edit</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
    <v-dialog v-model="deleteAdminLoading" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          <p class="mt-3 mb-2">{{ message }}</p>
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      message: "",
      editDialog: false,
      showDeletion: false,
      dismis: true,
      email: "",
      firstname: "",
      lastname: "",
      roles: ["admin", "super-admin"],
      role: "",
      phoneNumber: "",
      nin: "",
      password: "",
      id: "",
      photo: null,
      dialog: false,
      items: [
        {
          text: "Home",
          disabled: false,
          href: "/home",
        },
        {
          text: "Administrators",
          disabled: true,
          href: "/admin-dashboard/administrators",
        },
      ],
      search: "",
      headers: [
        { text: "FIRST NAME", value: "first_name" },
        { text: "LAST NAME", value: "last_name" },
        { text: "EMAIL", value: "email" },
        { text: "ROLE", value: "role" },
        { text: "ACTIONS", value: "actions" },
      ],
    };
  },
  methods: {
    setNull() {
      this.firstname = "";
      this.lastname = "";
      this.role = "";
      this.password = "";
      this.email = "";
    },
    launchEdit(id) {
      this.editDialog = true;
      let admin = this.$store.getters.getAdministratorById(id);
      this.id = id;
      this.firstname = admin.first_name;
      this.lastname = admin.last_name;
      this.email = admin.email;
      this.password = admin.password;
      this.role = admin.role;
    },
    postAdmin() {
      let data = {
        first_name: this.firstname,
        last_name: this.lastname,
        email: this.email,
        password: this.password,
        role: this.role,
      };
      this.$store
        .dispatch("postAdministrator", data)
        .then(() => {
          if (this.isAdministratorPosted == true) {
            this.$store.dispatch("fetchAdministrators");
            this.dialog = false;
            this.setNull();
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch("set_snackbar_message", "Admin created!!");
          } else {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to create admin!!"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    deleteAdmin(id) {
      this.message = "Deleteing Admin... Please wait!!";
      this.$store
        .dispatch("deleteAdmin", id)
        .then(() => {
          if (this.isAdminDeleted == true) {
            this.$store.dispatch("fetchAdministrators");
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch("set_snackbar_message", "Admin deleted!!");
          } else {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to delete admin!!"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    updateAdmin() {
      let data = {
        id: this.id,
        first_name: this.firstname,
        last_name: this.lastname,
        email: this.email,
        password: this.password,
        role: this.role,
      };
      this.$store
        .dispatch("updateAdmin", data)
        .then(() => {
          if (this.isAdminUpdated == true) {
            this.$store.dispatch("fetchAdministrators");
            this.editDialog = false;
            this.setNull();
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch("set_snackbar_message", "Admin updated!!");
          } else {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to update admin!!"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
  },
  beforeCreate() {
    this.$store.dispatch("fetchAdministrators");
  },
  destroyed() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
  computed: {
    ...mapState([
      "admininstrators",
      "fetchAdministratorsLoading",
      "fetchAdministratorsError",
      "isAdministratorPosted",
      "postAdministratorLoading",
      "postAdministratorError",
      "isAdministratorStatusChanged",
      "changeAdministratorStatusLoading",
      "changeAdministratorStatusError",
      "snackbar",
      "snackbar_message",
      "isAdminUpdated",
      "updateAdminLoading",
      "updateAdminError",
      "isAdminDeleted",
      "deleteAdminLoading",
      "deletedAdminError",
    ]),
  },
};
</script>
