<template>
  <div class="admin">
    <v-row>
      <v-breadcrumbs :items="items">
        <template v-slot:divider>
          <v-icon>mdi-forward</v-icon>
        </template>
      </v-breadcrumbs>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-hover>
          <template v-slot="{ hover }">
            <v-card
              class="mx-auto pb-10"
              max-width="370"
              max-height="100"
              to="/admin-dashboard/projects"
              :loading="fetchAdminDashboardStatisticsLoading"
              :elevation="hover ? 24 : 6"
            >
              <v-list-item>
                <v-icon color="black" size="100">mdi-cellphone-link</v-icon>
                <v-list-item-content>
                  <v-list-item-title class="headline" style="padding:5px">
                    <pulse-loader
                      :loading="fetchAdminDashboardStatisticsLoading"
                    ></pulse-loader>
                    <h5 v-if="!fetchAdminDashboardStatisticsLoading">
                      {{ adminDashboardStatistics.projects }}
                    </h5>
                  </v-list-item-title>
                  <v-list-item-subtitle style="font-size:16px;padding:5px"
                    >Projects</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-hover>
          <template v-slot="{ hover }">
            <v-card
              class="mx-auto "
              max-width="370"
              max-height="150"
              to="/admin-dashboard/students"
              :loading="fetchAdminDashboardStatisticsLoading"
              :elevation="hover ? 24 : 6"
            >
              <v-list-item>
                <v-icon color="black" size="100">mdi-account-group</v-icon>
                <v-list-item-content>
                  <v-list-item-title class="headline" style="padding:5px">
                    <pulse-loader
                      :loading="fetchAdminDashboardStatisticsLoading"
                    ></pulse-loader>
                    <h5 v-if="!fetchAdminDashboardStatisticsLoading">
                      {{ adminDashboardStatistics.students }}
                    </h5>
                  </v-list-item-title>
                  <v-list-item-subtitle style="font-size:16px;padding:5px"
                    >Students</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-hover>
          <template v-slot="{ hover }">
            <v-card
              class="mx-auto"
              max-width="370"
              to="/admin-dashboard/guest-users"
              :loading="fetchAdminDashboardStatisticsLoading"
              :elevation="hover ? 24 : 6"
            >
              <v-list-item>
                <v-icon color="black" size="100">mdi-account-tie</v-icon>
                <v-list-item-content>
                  <v-list-item-title class="headline" style="padding:5px">
                    <pulse-loader
                      :loading="fetchAdminDashboardStatisticsLoading"
                    ></pulse-loader>
                    <h5 v-if="!fetchAdminDashboardStatisticsLoading">
                      {{ adminDashboardStatistics.guests }}
                    </h5>
                  </v-list-item-title>
                  <v-list-item-subtitle style="font-size:16px; padding:5px"
                    >Guest Users</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-hover>
          <template v-slot="{ hover }">
            <v-card
              class="mx-auto"
              max-width="370"
              to="/admin-dashboard/guest-users"
              :loading="fetchAdminDashboardStatisticsLoading"
              :elevation="hover ? 24 : 6"
            >
              <v-list-item>
                <v-icon color="black" size="100">mdi-handshake</v-icon>
                <v-list-item-content>
                  <v-list-item-title class="headline" style="padding:5px">
                    <pulse-loader
                      :loading="fetchAdminDashboardStatisticsLoading"
                    ></pulse-loader>
                    <h5 v-if="!fetchAdminDashboardStatisticsLoading">
                      {{ adminDashboardStatistics.collaborators }}
                    </h5>
                  </v-list-item-title>
                  <v-list-item-subtitle style="font-size:16px; padding:5px"
                    >Collaborators</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </template>
        </v-hover>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6" md="6">
        <v-card class="mx-auto" elevation="3">
          <h5 class="text-center" style="padding:10px">
            Distribution of Projects
          </h5>
          <canvas id="myPie" width="600" max-height="200"></canvas>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="6">
        <v-card class="mx-auto" elevation="3">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title style="padding:5px font-weight:bold">
                <h2 style="font-size:17px">Summary (Current Month)</h2>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-divider></v-divider>
          <v-row style="margin-top:4px">
            <v-col cols="12" sm="6" md="6">
              <span class="subtitle" style="padding-left:10px"
                >Registered Students</span
              >
            </v-col>
            <v-col cols="12" sm="6" md="6" class="d-flex justify-end">
              <pulse-loader
                :loading="fetchAdminDashboardMonthlyStatisticsLoading"
              ></pulse-loader>
              <h5
                class="text-right"
                style="padding-right:10px"
                color="pink darken-3"
                v-if="!fetchAdminDashboardMonthlyStatisticsLoading"
              >
                {{ adminDashboardMonthlyStatistics.students }}
              </h5>
            </v-col>
          </v-row>
          <v-row style="margin-top:4px">
            <v-col cols="12" sm="6" md="6">
              <span class="subtitle" style="padding-left:10px"
                >Registered Guests</span
              >
            </v-col>
            <v-col cols="12" sm="6" md="6" class="d-flex justify-end">
              <pulse-loader
                :loading="fetchAdminDashboardMonthlyStatisticsLoading"
              ></pulse-loader>
              <h5
                class="text-right"
                style="padding-right:10px"
                v-if="!fetchAdminDashboardMonthlyStatisticsLoading"
              >
                {{ adminDashboardMonthlyStatistics.guests }}
              </h5>
            </v-col>
          </v-row>
          <v-row style="margin-top:4px">
            <v-col cols="12" sm="6" md="6">
              <span class="subtitle" style="padding-left:10px"
                >Collaborators</span
              >
            </v-col>
            <v-col cols="12" sm="6" md="6" class="d-flex justify-end">
              <pulse-loader
                :loading="fetchAdminDashboardMonthlyStatisticsLoading"
              ></pulse-loader>
              <h5
                class="text-right"
                style="padding-right:10px"
                v-if="!fetchAdminDashboardMonthlyStatisticsLoading"
              >
                {{ adminDashboardMonthlyStatistics.collaborators }}
              </h5>
            </v-col>
          </v-row>
          <v-row style="margin-top:4px">
            <v-col cols="12" sm="6" md="6">
              <span class="subtitle" style="padding-left:10px"
                >Approved Projects</span
              >
            </v-col>
            <v-col cols="12" sm="6" md="6" class="d-flex justify-end">
              <pulse-loader
                :loading="fetchAdminDashboardMonthlyStatisticsLoading"
              ></pulse-loader>
              <h5
                class="text-right"
                style="padding-right:10px"
                v-if="!fetchAdminDashboardMonthlyStatisticsLoading"
              >
                {{ adminDashboardMonthlyStatistics.approved_projects }}
              </h5>
            </v-col>
          </v-row>
          <v-row style="margin-top:4px">
            <v-col cols="12" sm="6" md="6">
              <span class="subtitle" style="padding-left:10px"
                >Project Clones</span
              >
            </v-col>
            <v-col cols="12" sm="6" md="6" class="d-flex justify-end">
              <pulse-loader
                :loading="fetchAdminDashboardMonthlyStatisticsLoading"
              ></pulse-loader>
              <h5
                class="text-right"
                style="padding-right:10px"
                v-show="!fetchAdminDashboardMonthlyStatisticsLoading"
              >
                {{ adminDashboardMonthlyStatistics.cloned_projects }}
              </h5>
            </v-col>
          </v-row>
          <v-row style="margin-top:4px">
            <v-col cols="12" sm="6" md="6">
              <span class="subtitle" style="padding-left:10px"
                >Rejected Projects</span
              >
            </v-col>
            <v-col cols="12" sm="6" md="6" class="d-flex justify-end">
              <pulse-loader
                :loading="fetchAdminDashboardMonthlyStatisticsLoading"
              ></pulse-loader>
              <h5
                class="text-right"
                style="padding-right:10px"
                v-show="!fetchAdminDashboardMonthlyStatisticsLoading"
              >
                {{ adminDashboardMonthlyStatistics.rejected_projects }}
              </h5>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <h5 class="text-center">
          Trend of Projects on the Platform
        </h5>
        <canvas id="myChart" width="1100" height="400"></canvas>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import Chart from "chart.js";
export default {
  components: {
    PulseLoader,
  },
  data() {
    return {
      items: [
        {
          text: "Home",
          disabled: false,
          href: "/home",
        },
        {
          text: "Dashboard",
          disabled: true,
          href: "/home",
        },
      ],
      labels: ["Jan", "Feb", "March", "May", "June", "July"],
      data: [34, 70, 78, 89, 10, 45],
      pie_labels: ["Approved", "Rejected", "Pending"],
      pie_data: [34, 70, 78],
    };
  },
  watch: {
    chart_values: function() {
      window.mypie.destroy();
      this.project_distribution(this.chart_values, this.chart_labels);
    },
    getProjectValues: function() {
      window.mygraph.destroy();
       this.cloning_trend_graph(this.getProjectValues, this.getMonthLabels);
    },
  },
  methods: {
    project_distribution(data, labels) {
      this.renderTo = "myPie";
      const ctx = document.getElementById(this.renderTo);
      const myPie = new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Order Status",
              data: data,
              fill: true,
              backgroundColor: [
                "#059BFF",
                "#FF9124",
                "#FF3D67",
                "#00695C",
                "#FFFF00",
                "#CCFF90",
              ],
              borderColor: [
                "#059BFF",
                "#FF9124",
                "#FF3D67",
                "#00695C",
                "#FFFF00",
                "#CCFF90",
              ],
              borderWidth: 3,
            },
          ],
        },
        options: {
          responsive: true,
          legend: {
            position: "top",
          },
          title: {
            display: false,
          },
          animation: {
            animateScale: true,
            animateRotate: true,
          },
        },
      });
      window.mypie = myPie;
    },
    cloning_trend_graph(data_one, labels) {
      this.renderTo = "myChart";
      const ctx = document.getElementById(this.renderTo).getContext("2d");
      const myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Number of projects",
              data: data_one,
              backgroundColor: "#1B5E20",
              fill: false,
              borderColor: "#1B5E20",
              borderWidth: 3,
            },
          ],
        },
        options: {
          responsive: true,
          stacked: false,
          title: {
            display: false,
          },
          tooltips: {
            mode: "index",
            intersect: false,
          },
          hover: {
            mode: "nearest",
            intersect: true,
          },
          scales: {
            x: {
              display: true,
              scaleLabel: {
                display: true,
                labelString: "Month",
              },
            },
            y: {
              display: true,
              scaleLabel: {
                display: true,
                labelString: "Savings",
              },
            },
          },
        },
      });
      window.mygraph = myChart;
    },
  },
  mounted() {
    this.cloning_trend_graph(this.getProjectValues, this.getMonthLabels);
    this.project_distribution(this.chart_values, this.chart_labels);
  },
  beforeCreate() {
    this.$store.dispatch("fetchAdminDashboardStatistics");
    this.$store.dispatch("fetchAdminDashboardMonthlyStatistics");
    this.$store.dispatch("fetchProjectDistributionCount");
    this.$store.dispatch("fetchAdminMonthlyProjects");
  },
  computed: {
    ...mapGetters([
      "chart_labels",
      "chart_values",
      "getProjectValues",
      "getMonthLabels",
    ]),
    ...mapState([
      "adminDashboardStatistics",
      "fetchAdminDashboardStatisticsLoading",
      "fetchAdminDashboardStatisticsError",
      "adminDashboardMonthlyStatistics",
      "fetchAdminDashboardMonthlyStatisticsLoading",
      "fetchAdminDashboardMonthlyStatisticsError",
      "projectDistributionCount",
      "fetchprojectDistributionCountLoading",
      "fetchprojectDistributionCountError",
      "adminMonthlyProjectStatistics",
      "fetchAdminMonthlyProjectsLoading",
      "fetchAdminMonthlyProjectsError",
    ]),
  },
};
</script>

<style scoped>
.admin {
  padding: 10px;
}
</style>
