<template>
  <div style="padding:5px">
    <v-row>
      <div style="padding:10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <p class="headline">All Collaborators</p>
    <v-card>
      <v-card-title>
        <div>
          <download-excel :data="all_collaborators">
            <v-btn
              class="text-capitalize"
              color="green white--text"
            >
              Download Report
              <v-icon right dark>mdi-chart-line </v-icon>
            </v-btn>
          </download-excel>
        </div>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="all_collaborators"
        :loading="fetchAllCollaboratorsLoading"
        :search="search"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            v-if="item.status == 'Cancelled'"
            >{{ item.status }}</v-chip
          >
          <v-chip
            class="ma-2"
            color="green"
            text-color="white"
            v-else-if="item.status == 'Active'"
            >{{ item.status }}</v-chip
          >
          <v-chip class="ma-2" color="primary" text-color="white" v-else>{{
            item.status
          }}</v-chip>
        </template>
        <template v-slot:[`item.actions`]>
          <v-btn class="mx-2" fab dark small color="pink">
            <v-icon dark>mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/admin-dashboard",
        },
        {
          text: "All Collaborators",
          disabled: true,
          href: "/admin-dashboard/all-collaborators",
        },
      ],
      search: "",
      headers: [
        {
          text: "Collaborator Name",
          align: "left",
          sortable: false,
          value: "collaborator_name",
        },
        {
          text: "Email",
          align: "left",
          sortable: false,
          value: "email",
        },
      
        {
          text: "Project",
          align: "left",
          sortable: false,
          value: "projectName",
        },
          {
          text: "Feature",
          align: "left",
          sortable: false,
          value: "featureName",
        },
      ]
    };
  },
  methods: {},
   beforeCreate() {
    this.$store.dispatch("fetchAllCollaborators");
  },
  computed: {
    ...mapState([
      "all_collaborators",
      "fetchAllCollaboratorsLoading",
      "fetchAllCollaboratorsError",
    ]),
  },
};
</script>
