<template>
  <v-container class="page-container mt-5 mb-10 pl-10 pr-10">
    <h3 class="heading">{{ category.category }} Projects</h3>
    <template v-if="searchedProjects.length === 0">
      <v-row class="emptyPane mt-10 mb-10" align="center" justify="center">
        <span class="grey--text display-1">No Projects Found!! </span>
      </v-row>
    </template>
    <template v-else>
      <v-row>
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
          v-for="(project, i) in fetchProjectsLoading ? 6 : searchedProjects"
          :key="i"
          class="mx-xs-auto"
        >
          <v-skeleton-loader type="card-avatar" :loading="fetchProjectsLoading">
            <ProjectCard
              :card="{ maxWidth: 350 }"
              :project="project"
            ></ProjectCard>
          </v-skeleton-loader>
        </v-col>
      </v-row>
      <div class="text-center ma-2">
        <v-snackbar v-model="snackbar">
          {{ snackbar_message }}

          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
              Close
            </v-btn>
          </template>
        </v-snackbar>
      </div>
    </template>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import ProjectCard from "../components/ProjectCard";
export default {
  components: {
    ProjectCard,
  },
  name: "Home",
  data: () => ({
    loading: true,
    loaded: false,
    project_id: "",
    errored: false,
  }),
  watch: {
    "$route.params.id"(val) {
      // call the method which loads your initial state
      console.log(val);
      window.location.reload();
      this.find();
    },
  },
  methods: {
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
  },
  created() {
    this.loading = false;
    let id = parseInt(this.$route.params.id, 10);
    this.project_id = id;
  },
  computed: {
    ...mapState([
      "searchTerm",
      "fetchProjectsLoading",
      "isLoggedIn",
      "snackbar_message",
      "snackbar",
    ]),
    projects() {
      return this.$store.getters.getProjectsByCategories(this.project_id);
    },
    category() {
      return this.$store.getters.getCategory(this.project_id);
    },
    searchedProjects() {
      let pane = this.projects;
      if (this.searchTerm === null || this.searchTerm === "") {
        return pane;
      } else {
        return pane.filter(
          (project) =>
            project["projectName"]
              .toLowerCase()
              .includes(this.searchTerm.toLowerCase()) ||
            project["teamName"]
              .toLowerCase()
              .includes(this.searchTerm.toLowerCase())
        );
      }
    },
  },
  beforeCreate() {
    this.$store.dispatch("fetchProjects");
  },
  destroyed() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
  mounted() {
    console.log("Projects", this.projects);
  },
};
</script>
<style scoped>
.heading {
  font-weight: 900;
  font-size: 1.2rem;
  z-index: 1;
}
.page-container {
  background: #fff;
}
</style>
