<template>
  <div style="padding:5px">
    <v-row>
      <div style="padding:10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <p class="headline">Project Clones</p>
    <v-card>
      <v-card-title>
        <download-excel :data="clones">
            <v-btn
              class="text-capitalize"
              color="green white--text"
            >
              Project Clones
              <v-icon right dark> mdi-chart-line </v-icon>
            </v-btn>
          </download-excel>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="clones"
        :loading="fetchClonesLoading"
        :search="search"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            v-if="item.status == 'Errored'"
            >{{ item.status }}</v-chip
          >
          <v-chip
            class="ma-2"
            color="green"
            text-color="white"
            v-else-if="item.status == 'on'"
            >{{ item.status }}</v-chip
          >
          <v-chip class="ma-2" color="primary" text-color="white" v-else>{{
            item.status
          }}</v-chip>
        </template>
        <template v-slot:[`item.actions`]>
          <v-btn class="mx-2" fab dark small color="pink">
            <v-icon dark>mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/student-dashboard",
        },
        {
          text: "Project Clones",
          disabled: true,
          href: "/student-dashboard/clones",
        },
      ],
      search: "",
      headers: [
        {
          text: "Clone ID",
          align: "left",
          sortable: false,
          value: "deviceId",
        },
        {
          text: "Latitude",
          align: "left",
          sortable: false,
          value: "lat",
        },
         {
          text: "Longitude",
          align: "left",
          sortable: false,
          value: "long",
        },
        {
          text: "Status",
          align: "left",
          sortable: false,
          value: "status",
        },
        {
          text: "Deployment Date",
          align: "left",
          sortable: false,
          value: "timestamp",
        },
      ],
    };
  },
  methods: {},
  created() {
    this.$store.dispatch("fetchClones", this.selected_project);
  },

  computed: {
    ...mapState([
      "clones",
      "fetchClonesLoading",
      "fetchClonesError",
      "selected_project",
    ]),
  },
};
</script>
