<template>
  <div style="padding: 5px">
    <v-row>
      <div style="padding: 10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <v-layout flex align-end justify-end style="padding-bottom: 10px">
      <v-btn
        @click.stop="dialog = true"
        color="success"
        style="text-transform: capitalize"
      >
        Collaboration Calls
        <v-icon style="margin-left: 3px">mdi-plus</v-icon>
      </v-btn>
    </v-layout>
    <v-card>
      <v-card-title>
        Collaboration Calls
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="collaboration_calls"
        :loading="fetchCollaborationCallsLoading"
        :search="search"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            v-if="item.status == 'inacticve'"
            >{{ item.status }}</v-chip
          >
          <v-chip
            class="ma-2"
            color="green"
            text-color="white"
            v-else-if="item.status == 'active'"
            >{{ item.status }}</v-chip
          >
          <v-chip class="ma-2" color="primary" text-color="white" v-else>{{
            item.status
          }}</v-chip>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn
            class="mx-2"
            fab
            dark
            small
            color="cyan"
            @click="launchEdit(item.id)"
          >
            <v-icon dark>mdi-pencil</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card :loading="postCollaborationCallLoading">
        <v-card-title>
          <h5>Add Call</h5>
        </v-card-title>
        <v-divider></v-divider>

        <ValidationObserver ref="form" v-slot="{ handleSubmit, reset }">
          <form
            @submit.prevent="handleSubmit(postCollaborationCall)"
            @reset.prevent="reset"
          >
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <span>Required Skills</span>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="skills"
                      rules="required"
                    >
                      <v-text-field
                        label="Skills*"
                        v-model="skills"
                        :error-messages="errors"
                        required
                        dense
                        outlined
                      ></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12">
                    <span>Project Feature</span>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="feature_name"
                      rules="required"
                    >
                      <v-autocomplete
                        v-model="feature_name"
                        label="Choose feature"
                        :items="getFeatureNames"
                        :error-messages="errors"
                        outlined
                        dense
                      ></v-autocomplete>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12">
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="start_date"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <ValidationProvider
                          v-slot="{ errors }"
                          name="start_date"
                          rules="required"
                        >
                          <v-text-field
                            v-model="start_date"
                            label="Start Date"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            :error-messages="errors"
                            v-on="on"
                          ></v-text-field>
                        </ValidationProvider>
                      </template>
                      <v-date-picker v-model="start_date" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu = false"
                          >Cancel</v-btn
                        >
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.menu.save(start_date)"
                          >OK</v-btn
                        >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12">
                    <v-menu
                      ref="menu1"
                      v-model="menu1"
                      :close-on-content-click="false"
                      :return-value.sync="end_date"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <ValidationProvider
                          v-slot="{ errors }"
                          name="end_date"
                          rules="required"
                        >
                          <v-text-field
                            v-model="end_date"
                            label="Deadline Date"
                            prepend-icon="mdi-calendar"
                            :error-messages="errors"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </ValidationProvider>
                      </template>
                      <v-date-picker v-model="end_date" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu1 = false"
                          >Cancel</v-btn
                        >
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.menu1.save(end_date)"
                          >OK</v-btn
                        >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="dialog = false"
                >Close</v-btn
              >
              <v-btn
                type="submit"
                color="blue darken-1"
                text
                :loading="postCollaborationCallLoading"
                >Add</v-btn
              >
            </v-card-actions>
          </form>
        </ValidationObserver>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editDialog" persistent max-width="600px">
      <v-card :loading="updateCallLoading">
        <v-card-title>
          <h5>Edit Feature</h5>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <span>Required Skills</span>
                <v-text-field
                  label="Skills*"
                  v-model="skills"
                  required
                  dense
                  outlined
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <span>Project Feature</span>
                <v-autocomplete
                  v-model="feature_name"
                  label="Feature"
                  outlined
                  dense
                  :items="getFeatureNames"
                ></v-autocomplete>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="start_date"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="start_date"
                      label="Start Date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="start_date" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false"
                      >Cancel</v-btn
                    >
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu.save(start_date)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu1"
                  v-model="menu1"
                  :close-on-content-click="false"
                  :return-value.sync="end_date"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="end_date"
                      label="Deadline Date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="end_date" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu1 = false"
                      >Cancel</v-btn
                    >
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu1.save(end_date)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="editDialog = false"
            >Close</v-btn
          >
          <v-btn
            color="blue darken-1"
            text
            @click="updateCollaborationCall"
            :loading="updateCallLoading"
            >edit</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  data() {
    return {
      editDialog: false,
      start_date: new Date().toISOString().substr(0, 10),
      menu: false,
      end_date: new Date().toISOString().substr(0, 10),
      menu1: false,
      name: "",
      description: "",
      skills: "",
      id: "",
      feature_name: "",
      photo: null,
      dialog: false,
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/home/dashboard",
        },
        {
          text: "Collaboration Calls",
          disabled: true,
          href: "/home/collaboration-calls",
        },
      ],
      search: "",
      headers: [
        {
          text: "Skills Required",
          align: "left",
          sortable: false,
          value: "skillsRequired",
        },
        {
          text: "Feature",
          align: "left",
          sortable: false,
          value: "feature.featureName",
        },
        {
          text: "Start Date",
          align: "left",
          sortable: false,
          value: "startDate",
        },
        {
          text: "End Date",
          align: "left",
          sortable: false,
          value: "endDate",
        },
        {
          text: "Status",
          align: "left",
          sortable: false,
          value: "status",
        },
        { text: "Actions", value: "actions" },
      ],
    };
  },
  methods: {
    setNull() {
      this.skill = "";
      this.feature_name = "";
      this.menu = false;
      this.menu1 = false;
      this.start_date = new Date().toISOString().substr(0, 10);
      this.end_date = new Date().toISOString().substr(0, 10);
    },
    launchEdit(id) {
      this.editDialog = true;
      let call = this.$store.getters.getCallById(id);
      this.skills = call.skillsRequired;
      this.end_date = call.endDate;
      this.id = id;
      this.start_date = call.startDate;
      this.feature_name = call.feature.featureName;
    },
    postCollaborationCall() {
      let feature = this.$store.getters.getFeatureByName(this.feature_name);
      let data = {
        skillsRequired: this.skills,
        projectId: this.selected_project,
        featureId: feature.id,
        startDate: this.start_date,
        endDate: this.end_date,
        status: "active",
      };
      if (this.start_date < new Date().toISOString().substr(0, 10)) {
        this.$refs.form.setErrors({
          start_date: ["Must be greater than or equal to current date"],
        });
      } else {
        this.$store
          .dispatch("postCollaborationCall", data)
          .then(() => {
            if (this.isCollaborationCallPosted == true) {
              this.$store.dispatch(
                "fetchCollaborationCalls",
                this.selected_project
              );
              this.$store.dispatch(
                "set_snackbar_message",
                "Collaboration call added successfully"
              );
              this.$store.dispatch("stepper_snackbar", true);
              this.dialog = false;
              this.setNull();
            } else {
              if (this.start_date >= this.end_date) {
                this.$refs.form.setErrors({
                  end_date: ["Must be greater than start date"],
                });
              }
              this.$store.dispatch(
                "set_snackbar_message",
                "Failed to add Collaboration call"
              );
              this.$store.dispatch("stepper_snackbar", true);
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    updateCollaborationCall() {
      let feature = this.$store.getters.getFeatureByName(this.feature_name);
      let data = {
        skillsRequired: this.skills,
        projectId: this.selected_project,
        featureId: feature.id,
        id: this.id,
        startDate: this.start_date,
        endDate: this.end_date,
        status: "active",
      };
      this.$store
        .dispatch("updateCall", data)
        .then(() => {
          if (this.isCallUpdated == true) {
            this.$store.dispatch(
              "fetchCollaborationCalls",
              this.selected_project
            );
            this.$store.dispatch(
              "set_snackbar_message",
              "Collaboration call updated successfully"
            );
            this.$store.dispatch("stepper_snackbar", true);
            this.editDialog = false;
            this.setNull();
          } else {
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to updated Collaboration call"
            );
            this.$store.dispatch("stepper_snackbar", true);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    changeCollaborationCallStatus(status) {
      let data = {};
      if (status == "Inactive") {
        data = {
          id: this.id,
          status: "Active",
        };
      }
      if (status == "Active") {
        data = {
          id: this.id,
          status: "Inactive",
        };
      }

      this.$store
        .dispatch("changeCollaborationCallStatus", data)
        .then(() => {
          if (this.isCollaborationCallStatusChanged == true) {
            console.log("Collaboration call Status Changed");
          } else {
            console.log("Collaboration call Not Changed");
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
  },
  created() {
    this.$store.dispatch("fetchFeatures", this.selected_project);
    this.$store.dispatch("fetchCollaborationCalls", this.selected_project);
  },
  computed: {
    ...mapGetters(["getFeatureNames"]),
    ...mapState([
      "collaboration_calls",
      "fetchCollaborationCallsLoading",
      "fetchCollaborationCallsError",
      "isCollaborationCallPosted",
      "postCollaborationCallLoading",
      "postCollaborationCallError",
      "isCollaborationCallStatusChanged",
      "changeCollaborationCallStatusLoading",
      "changeCollaborationCallStatusError",
      "selected_project",
      "snackbar",
      "snackbar_message",
      "isCallUpdated",
      "updateCallLoading",
      "updateCallError",
    ]),
  },
  destroyed() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
};
</script>
