<template>
  <div style="padding:5px">
    <v-row>
      <div style="padding:10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <v-card>
      <v-card-title>
        Collaboration Requests
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="collaboration_requests"
        :search="search"
        :loading="fetchCollaborationRequestsLoading"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
      <template v-slot:[`item.created_at`]="{ item }">
          {{ item.created_at | myDate }}
        </template>
        <template v-slot:[`item.requestStatus`]="{ item }">
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            v-if="item.requestStatus == 'denied'"
            >{{ item.requestStatus }}</v-chip
          >
          <v-chip
            class="ma-2"
            color="green"
            text-color="white"
            v-else-if="item.requestStatus == 'accepted'"
            >{{ item.requestStatus }}</v-chip
          >
          <v-chip class="ma-2" color="primary" text-color="white" v-else>{{
            item.requestStatus
          }}</v-chip>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mx-2"
                fab
                dark
                small
                color="green"
                v-bind="attrs"
                @click="approveProject(item.id)"
                v-on="on"
              >
                <v-icon dark>mdi-check</v-icon>
              </v-btn>
            </template>
            <span>Approve Request</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mx-2"
                fab
                dark
                small
                color="red"
                v-bind="attrs"
                v-on="on"
                @click="rejectProject(item.id)"
              >
                <v-icon dark>mdi-alpha-x</v-icon>
              </v-btn>
            </template>
            <span>Reject Request</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mx-2"
                fab
                dark
                small
                color="primary"
                @click="displayResume(item.resume)"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon dark>mdi-file-document</v-icon>
              </v-btn>
            </template>
            <span>View Resume</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-card>
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent width="800">
        <v-card>
          <v-card-title class="headline">
            Resume
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <pdf :src="`http://173.212.252.138/${src}`"></pdf>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialog = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
    <v-dialog
      v-model="changeCollaborationRequestStatusLoading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card color="primary" dark>
        <v-card-text>
          <p class="mt-3 mb-2">{{ message }}</p>
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import pdf from "vue-pdf";
export default {
  components: {
    pdf,
  },
  data() {
    return {
      src: "",
      dialog: false,
      message: "",
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/admin-dashboard",
        },
        {
          text: "Collaboration Requests",
          disabled: true,
          href: "/student-dashboard/collaboration-requets",
        },
      ],
      search: "",
      headers: [
        {
          text: "Collaborator Name",
          align: "left",
          sortable: false,
          value: "collaborator_name",
        },
        // {
        //   text: "Collaborator Email",
        //   align: "left",
        //   sortable: false,
        //   value: "email",
        // },
        {
          text: "Collaborator Reason",
          align: "left",
          sortable: false,
          value: "reason",
        },
        {
          text: "Feature",
          align: "left",
          sortable: false,
          value: "featureName",
        },
        {
          text: "Request Status",
          align: "left",
          sortable: false,
          value: "requestStatus",
        },
        {
          text: "Date",
          align: "left",
          sortable: false,
          value: "created_at",
        },

        { text: "Actions", value: "actions" },
      ],
    };
  },
  methods: {
    displayResume(link) {
      this.src = link;
      this.dialog = true;
    },
    approveProject(id) {
      this.message = "Approving project .. Please wait!!!";
      let data = {
        id: id,
        requestStatus: "accepted",
      };

      this.$store
        .dispatch("changeCollaborationRequestStatus", data)
        .then(() => {
          if (this.isCollaborationRequestStatusChanged == true) {
            this.$store.dispatch(
              "fetchCollaborationRequests",
              this.selected_project
            );
            this.$store.dispatch(
              "set_snackbar_message",
              "Collaboration Request Approved"
            );
            this.$store.dispatch("stepper_snackbar", true);
          } else {
            this.$store.dispatch(
              "set_snackbar_message",
              "Approving collaboration Request failed!!"
            );
            this.$store.dispatch("stepper_snackbar", true);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    rejectProject(id) {
      this.message = "Rejecting project.. Please wait!!!";
      let data = {
        id: id,
        requestStatus: "denied",
      };

      this.$store
        .dispatch("changeCollaborationRequestStatus", data)
        .then(() => {
          if (this.isCollaborationRequestStatusChanged == true) {
            this.$store.dispatch(
              "fetchCollaborationRequests",
              this.selected_project
            );
            this.$store.dispatch(
              "set_snackbar_message",
              "Collaboration Request Rejected"
            );
            this.$store.dispatch("stepper_snackbar", true);
          } else {
            this.$store.dispatch(
              "set_snackbar_message",
              "Rejecting collaboration Request failed!!"
            );
            this.$store.dispatch("stepper_snackbar", true);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
  },
  created() {
    this.$store.dispatch("fetchCollaborationRequests", this.selected_project);
  },
  computed: {
    ...mapState([
      "collaboration_requests",
      "fetchCollaborationRequestsLoading",
      "fetchCollaborationRequestsError",
      "isCollaborationRequestStatusChanged",
      "changeCollaborationRequestStatusLoading",
      "changeCollaborationRequestStatusError",
      "selected_project",
      "snackbar",
      "snackbar_message",
    ]),
  },
   destroyed() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
};
</script>
