<template>
  <div style="padding:5px">
    <v-row>
      <div style="padding:10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
     <p class="headline">Project Collaborators</p>
    <v-card>
      <v-card-title>
        <div>
          <download-excel :data="collaborators">
            <v-btn
              class="text-capitalize"
              color="green white--text"
            >
              Download Report
              <v-icon right dark> mdi-chart-line </v-icon>
            </v-btn>
          </download-excel>
        </div>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="collaborators"
        :search="search"
        :loading="fetchCollaboratorsLoading"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
      <template v-slot:[`item.created_at`]="{ item }">
          {{ item.created_at | myDate }}
        </template>
        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            v-if="item.status == 'Cancelled'"
            >{{ item.status }}</v-chip
          >
          <v-chip
            class="ma-2"
            color="green"
            text-color="white"
            v-else-if="item.status == 'Active'"
            >{{ item.status }}</v-chip
          >
          <v-chip class="ma-2" color="primary" text-color="white" v-else>{{
            item.status
          }}</v-chip>
        </template>
        <template v-slot:[`item.actions`]>
          <v-btn class="mx-2" fab dark small color="green">
            <v-icon dark>mdi-check</v-icon>
          </v-btn>
          <v-btn class="mx-2" fab dark small color="red">
            <v-icon dark>mdi-alpha-x</v-icon>
          </v-btn>

        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/admin-dashboard",
        },
        {
          text: "Collaborators",
          disabled: true,
          href: "/student-dashboard/collaborators",
        },
      ],
      search: "",
      headers: [
        {
          text: "Collaborator Name",
          align: "left",
          sortable: false,
          value: "collaborator_name",
        },
         {
          text: "Collaborator Email",
          align: "left",
          sortable: false,
          value: "email",
        },
        {
          text: "Feature",
          align: "left",
          sortable: false,
          value: "featureName",
        },
        {
          text: "Date",
          align: "left",
          sortable: false,
          value: "created_at",
        },
      ]
    };
  },
  methods: {
  
  },
  created() {
    this.$store.dispatch("fetchCollaborators", this.selected_project);
  },
   computed: {
    ...mapState([
      "collaborators",
      "fetchCollaboratorsLoading",
      "fetchCollaboratorsError",
      "selected_project"
    ]),
  },
};
</script>
