<template>
  <v-container>
    <!-- <h3 class="heading">Device Logs</h3> -->
    <v-card class="mx-auto">
      <v-card-title class="blue-grey white--text">
        <span class="title">Device Logs</span>
        <v-spacer></v-spacer>
      </v-card-title>
      <v-card-text class="py-0">
        <v-timeline dense clipped>
          <v-timeline-item color="grey" icon-color="grey lighten-2" small>
            <v-row justify="space-between">
              <v-col cols="7"> Latitude: 639.99, Longitude: 412.99 </v-col>
              <v-col class="text-right" cols="5"> Wed, 30 Dec 2020 12:55:27  </v-col>
            </v-row>
          </v-timeline-item>

          <v-timeline-item small color="grey">
            <v-row justify="space-between">
              <v-col cols="7">
                <!-- <v-chip class="white--text ml-0" color="red" label small>
                  Device Error
                </v-chip> -->
                Latitude: 566.99, Longitude: 100.99
              </v-col>
              <v-col class="text-right" cols="5"> Wed, 30 Dec 2020 16:55:27  </v-col>
            </v-row>
          </v-timeline-item>

          <v-timeline-item color="grey" small>
            <v-row justify="space-between">
              <v-col cols="7"> Latitude: 178.99, Longitude: 127.99 </v-col>
              <v-col class="text-right" cols="5"> Wed, 30 Dec 2020 17:55:27  </v-col>
            </v-row>
          </v-timeline-item>

          <v-timeline-item color="grey" small>
            <v-row justify="space-between">
              <v-col cols="7"> Latitude: 892.99, Longitude: 523.99 </v-col>
              <v-col class="text-right" cols="5"> Wed, 30 Dec 2020 15:55:27  </v-col>
            </v-row>
          </v-timeline-item>

          <v-timeline-item color="grey" small>
            <v-row justify="space-between">
              <v-col cols="7"> Latitude: 566.99, Longitude: 566.99 </v-col>
              <v-col class="text-right" cols="5"> Wed, 30 Dec 2020 18:55:27  </v-col>
            </v-row>
          </v-timeline-item>
        </v-timeline>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    events: [],
    input: null,
    nonce: 0,
  }),
  computed: {
    timeline() {
      return this.events.slice().reverse();
    },
  },
};
</script>

<style scoped>
.heading {
  font-weight: 900;
  font-size: 1.2rem;
  z-index: 1;
}
.page-container {
  background: #fff;
}
</style>
