<template>
  <v-container>
    <div>
      <v-parallax
        height="230"
        src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
      ></v-parallax>
      <div>
        <v-card class="transparent" flat>
          <v-list-item three-line>
            <v-list-item-avatar size="80">
              <v-avatar color="red" size="60">
                <span class="white--text headline">
                  {{ username.split("")[0].toUpperCase() }}</span
                >
              </v-avatar>
            </v-list-item-avatar>
            <v-list-item-content class="align-self-auto">
              <v-list-item-title class="headline mb-1">{{
                username
              }}</v-list-item-title>
              <v-list-item-subtitle>{{ email }} </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
        <v-card flat class="transparent">
          <v-tabs
            v-model="tab"
            background-color="transparent"
            class="text-capitalize"
            grow
          >
            <v-tab class="text-capitalize">Deployed Devices (2) </v-tab>
            <v-tab class="text-capitalize">Collaborations (3) </v-tab>
          </v-tabs>
          <v-container fluid>
            <v-tabs-items v-model="tab" class="transparent">
              <v-tab-item>
                <v-card class="transparent" flat>
                  <v-card-text>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        lg="3"
                        v-for="(project, i) in fetchUserProjectsLoading
                          ? 4
                          : user_projects"
                        :key="i"
                        class="mx-xs-auto"
                      >
                        <v-skeleton-loader
                          type="card-avatar"
                          :loading="fetchUserProjectsLoading"
                        >
                          <GuestProjectCard
                            :card="{ maxWidth: 350 }"
                            :project="project"
                          ></GuestProjectCard>
                        </v-skeleton-loader>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-tab-item>
              <v-tab-item>
                <v-card flat>
                  <v-card-text>
                    <v-card-title> Collaborations </v-card-title>
                    <v-data-table
                      :headers="collaborator_headers"
                      :items="collaborations"
                      :footer-props="{
                        showFirstLastPage: true,
                        firstIcon: 'mdi-arrow-collapse-left',
                        lastIcon: 'mdi-arrow-collapse-right',
                        prevIcon: 'mdi-minus',
                        nextIcon: 'mdi-plus',
                      }"
                    >
                    </v-data-table>
                  </v-card-text>
                </v-card>
              </v-tab-item>
            </v-tabs-items>
          </v-container>
        </v-card>
      </div>
    </div>
  </v-container>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import GuestProjectCard from "../components/GuestProjectCard";
export default {
  components: {
    GuestProjectCard,
  },
  data() {
    return {
      tab: null,
      collaborator_headers: [
      {
        text: "Project Name",
        align: "left",
        sortable: false,
        value: "project",
      },
      {
        text: "Feature",
        align: "left",
        sortable: false,
        value: "feature",
      }
    ],
     collaborations: [
      {
        project: "Mianzi City Farms",
        feature: "Payment Gateway"
      },
       {
        project: "Smart POS",
        feature: "Merchant App"
      },
    ],
    };
  },
  created() {
    this.$store.dispatch("fetchUserProjects", 2);
  },
  computed: {
    ...mapGetters(["user_type", "isAuthenticated", "username", "email"]),
    ...mapState([
      "user_projects",
      "fetchUserProjectsLoading",
      "fetchUserProjectsError",
    ]),
  },
};
</script>

<style>
</style>