<template>
  <div style="padding:5px">
    <v-row>
      <div style="padding:10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <p class="headline">Guest Users</p>
    <v-card>
      <v-card-title>
        <div>
          <download-excel :data="guest_users">
            <v-btn
              class="text-capitalize"
              color="green white--text"
            >
              Download Report
              <v-icon right dark> mmdi-chart-line </v-icon>
            </v-btn>
          </download-excel>
        </div>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="guest_users"
        :loading="fetchGuestUsersLoading"
        :search="search"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/admin-dashboard",
        },
        {
          text: "Guest Users",
          disabled: true,
          href: "/admin-dashboard/guest-users",
        },
      ],
      search: "",
      headers: [
        {
          text: "First Name",
          align: "left",
          sortable: false,
          value: "first_name",
        },
        {
          text: "Last Name",
          align: "left",
          sortable: false,
          value: "last_name",
        },
        {
          text: "Email",
          sortable: false,
          value: "email",
        }
      ]
    };
  },
  methods: {
   
  },
  beforeCreate(){
    this.$store.dispatch("fetchGuestUsers");
  
  },
   computed: {
    ...mapState(["guest_users", "fetchGuestUsersLoading", "fetchGuestUsersError"]),
  },
};
</script>
