<template>
  <v-app>
    <NavBar />
    <v-main class="page-container">
      <!-- <img src="../assets/img/home_image.jpg" class="home_image"> -->
      <!-- <v-img src="https://jungleworks.com/wp-content/uploads/2019/01/test-automation-for-iot-apps.jpg" class="home_image" /> -->
      <v-fade-transition mode="out-in">
        <router-view></router-view>
      </v-fade-transition>
    </v-main>
    <Footer />
  </v-app>
</template>

<script>
import NavBar from "../components/NavBar";
import Footer from "../components/Footer";

export default {
  name: "App",

  components: {
    NavBar,
    Footer,
  },
};
</script>
<style scoped>
.home_image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
  margin-bottom: -700px;
}
.page-container {
  background: #eaeded;
}
</style>
