<template>
  <v-container fluid class="fill-height">
    <v-row>
      <v-col cols="12" xs="12" sm="6" md="5" lg="4" class="ma-auto">
        <v-card outlined :loading="loginLoading">
          <div class="px-8 pt-6 pb-12">
            <v-card-title class="text-center">IoT Marketplace</v-card-title>
            <v-card-subtitle class="mb-5">Sign in</v-card-subtitle>
            <v-card-text>
              <ValidationObserver ref="form" v-slot="{ handleSubmit, reset }">
                <form
                  @submit.prevent="handleSubmit(signin)"
                  @reset.prevent="reset"
                >
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Email"
                    rules="required|email"
                  >
                    <v-text-field
                      v-model="email"
                      :error-messages="errors"
                      label="Email"
                      outlined
                    ></v-text-field>
                  </ValidationProvider>
                  <ValidationProvider
                    v-slot="{ errors }"
                    name="Password"
                    rules="required"
                  >
                    <p class="ma-0 text-right">
                      <v-btn
                        text
                        small
                        class="pl-0 text-capitalize"
                        color="primary"
                        href="true"
                        >Forget Password?</v-btn
                      >
                    </p>
                    <v-text-field
                      v-model="password"
                      type="password"
                      :error-messages="errors"
                      label="Password"
                      outlined
                    ></v-text-field>
                  </ValidationProvider>
                  <div class="mt-6 d-flex justify-space-between">
                    <v-btn
                      text
                      small
                      class="pl-0 text-capitalize"
                      color="primary"
                      router
                      to="signup"
                      >Create account</v-btn
                    >
                    <v-btn
                      type="submit"
                      class="primary"
                      :loading="loginLoading"
                      depressed
                      >Sign in</v-btn
                    >
                  </div>
                </form>
              </ValidationObserver>
            </v-card-text>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "SignIn",
  data: () => ({
    email: "",
    password: "",
  }),
  methods: {
    signin() {
      let data = {
        email: this.email,
        password: this.password,
      };
      this.$store
        .dispatch("login", data)
        .then(() => {
          if (this.isLoggedIn == true) {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "User Logged In Succesfully"
            );
            this.$router.replace("/");
          } else {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "User Log In Failed!! Try again"
            );
            this.$refs.form.setErrors({
              Email: ["We don't reconize, this email"],
              Password: ["We don't reconize, this password"],
            });
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
  },
  computed: {
    ...mapState([
      "loginError",
      "loginLoading",
      "isLoggedIn",
      "snackbar",
      "snackbar_message",
    ]),
  },
};
</script>

<style></style>
