<template>
  <div style="padding:15px">
    <v-row>
      <v-breadcrumbs :items="items">
        <template v-slot:divider>
          <v-icon>mdi-forward</v-icon>
        </template>
      </v-breadcrumbs>
    </v-row>
    <v-layout flex align-end justify-end style="padding-bottom:10px">
      <v-btn
        @click.stop="dialog = true"
        color="success"
        style="text-transform:capitalize"
      >
        add Project Category
        <v-icon style="margin-left:3px">mdi-plus</v-icon>
      </v-btn>
    </v-layout>
    <v-card>
      <v-card-title>
        Project Categories
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="categories"
        :search="search"
        :loading="fetchCategoriesLoading"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mx-2"
                fab
                dark
                small
                color="cyan"
                @click="launchEdit(item.id)"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon dark>mdi-pencil</v-icon>
              </v-btn>
            </template>
            <span>Edit category</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
      :loading="updateCategoryLoading"
    >
      <v-card :loading="postCategoryLoading">
        <v-card-title>
          <span class="headline">Add Project Category</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Category Name*"
                  v-model="category_name"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Close</v-btn
          >
          <v-btn
            color="blue darken-1"
            text
            @click="postCategory"
            :loading="postCategoryLoading"
            >Save</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Edit Project Categories</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Category Name*"
                  v-model="category_name"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="editDialog = false"
            >Close</v-btn
          >
          <v-btn
            color="blue darken-1"
            text
            @click="updateCategory"
            :loading="updateCategoryLoading"
            >edit</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      editDialog: false,
      showDeletion: false,
      dismis: true,
      category_name: "",
      desc: "",
      id: "",
      dialog: false,
      items: [
        {
          text: "Home",
          disabled: false,
          href: "/home",
        },
        {
          text: "Project Categories",
          disabled: true,
          href: "/admin-dashboard/project-categories",
        },
      ],
      search: "",
      headers: [
        { text: "CATEGORY NAME", value: "category" },
        { text: "Actions", value: "actions" },
      ],
    };
  },
  methods: {
    setNull() {
      this.category_name = "";
      this.desc = "";
    },
    launchEdit(id) {
      this.editDialog = true;
      this.id = id;
      let category = this.$store.getters.getCategoryById(id);
      this.category_name = category.category;
    },
    postCategory() {
      let data = {
        category: this.category_name,
        description: this.desc,
      };
      this.$store
        .dispatch("postCategory", data)
        .then(() => {
          if (this.isCategoryPosted == true) {
            this.$store.dispatch("fetchCategories");
            this.dialog = false;
            this.setNull();
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Category Posted Succesfully"
            );
          } else {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Category Posting Failed!!"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    updateCategory() {
      let data = {
        category: this.category_name,
        id: this.id,
      };
      this.$store
        .dispatch("updateCategory", data)
        .then(() => {
          if (this.isCategoryUpdated == true) {
            this.$store.dispatch("fetchCategories");
            this.editDialog = false;
            this.setNull();
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Category Updated Succesfully"
            );
          } else {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Category Posting Failed!!"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
  },
  beforeCreate() {
    this.$store.dispatch("fetchCategories");
  },
  destroyed() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
  computed: {
    ...mapState([
      "categories",
      "fetchCategoriesLoading",
      "fetchCategoriesError",
      "isCategoryPosted",
      "postCategoryLoading",
      "postCategoryError",
      "snackbar",
      "snackbar_message",
      "isCategoryUpdated",
      "updateCategoryLoading",
      "updateCategoryError",
    ]),
  },
};
</script>
