<template>
  <v-container>
    <h1>Your IoT Marketplace Projects</h1>
    <v-row>
      <v-col cols="12" sm="6" md="6" lg="3">
        <v-card
          class="content-bg card mx-auto d-flex justify-center align-center"
          height="220"
          rounded
          hover
          @click="activateDialog"
        >
          <div>
            <v-icon color="primary" class="ml-7">mdi-plus-thick</v-icon>
            <p class="pt-2" style="color: #1a73e8">Add Project</p>
          </div>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        md="4"
        lg="3"
        v-for="(project, i) in fetchUserProjectsLoading ? 4 : user_projects"
        :key="i"
        class="mx-xs-auto"
      >
        <v-skeleton-loader
          type="card-avatar"
          :loading="fetchUserProjectsLoading"
        >
          <UserProjectCard
            :card="{ maxWidth: 350 }"
            :project="project"
          ></UserProjectCard>
        </v-skeleton-loader>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <AddProjectModal />
      </v-col>
    </v-row>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </v-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import AddProjectModal from "../components/AddProjectModal";
import UserProjectCard from "../components/UserProjectCard";
export default {
  components: {
    AddProjectModal,
    UserProjectCard,
  },
  data() {
    return {
      loading: true,
      loaded: false,
      errored: false,
    };
  },
  methods: {
    activateDialog() {
      this.$store.dispatch("stepper_toggler", true);
    },
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", true);
    },
  },
  created() {
    this.$store.dispatch("fetchUserProjects", this.user_id);
  },
  destroyed() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
  beforeCreate() {
    this.$store.dispatch("fetchCategories");
  },
  computed: {
    ...mapGetters(["user_id"]),
    ...mapState([
      "user_projects",
      "fetchUserProjectsLoading",
      "fetchUserProjectsError",
      "snackbar",
      "snackbar_message",
    ]),
  },
};
</script>

<style></style>
