<template>
  <div style="padding: 5px">
    <v-row>
      <div style="padding: 10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <v-layout flex justify-space-between>
      <p class="headline">Project Features</p>

      <v-btn
        @click.stop="dialog = true"
        color="success"
        style="text-transform: capitalize"
      >
        Add Feature
        <v-icon style="margin-left: 3px">mdi-plus</v-icon>
      </v-btn>
    </v-layout>
    <v-card>
      <v-card-title>
        <div>
          <download-excel :data="features">
            <v-btn class="text-capitalize" color="green white--text">
              Download Report
              <v-icon right dark> mdi-chart-line </v-icon>
            </v-btn>
          </download-excel>
        </div>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="features"
        :loading="fetchFeaturesLoading"
        :search="search"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            v-if="item.status == 'incomplete'"
            >{{ item.status }}</v-chip
          >
          <v-chip
            class="ma-2"
            color="green"
            text-color="white"
            v-else-if="item.status == 'complete'"
            >{{ item.status }}</v-chip
          >
          <v-chip class="ma-2" color="primary" text-color="white" v-else>{{
            item.status
          }}</v-chip>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn
            class="mx-2"
            fab
            dark
            small
            color="cyan"
            @click="editDialog = true"
          >
            <v-icon dark @click="launchEdit(item.id)">mdi-pencil</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card :loading="postFeatureLoading">
        <v-card-title>
          <h5>Add Feature</h5>
        </v-card-title>
        <v-divider></v-divider>
        <ValidationObserver ref="form" v-slot="{ handleSubmit, reset }">
          <form
            @submit.prevent="handleSubmit(postFeature)"
            @reset.prevent="reset"
          >
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <span>Feature Name</span>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="title"
                      rules="required"
                    >
                      <v-text-field
                        label="Name*"
                        v-model="title"
                        :error-messages="errors"
                        outlined
                        required
                        dense
                      ></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12">
                    <span>Feature Description</span>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="description"
                      rules="required"
                    >
                      <v-textarea
                        outlined
                        v-model="description"
                        dense
                        name="input-7-4"
                        :error-messages="errors"
                        label="Description"
                      ></v-textarea>
                    </ValidationProvider>
                  </v-col>
                  <v-col cols="12">
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="start_date"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <ValidationProvider
                          v-slot="{ errors }"
                          name="start_date"
                          rules="required"
                        >
                          <v-text-field
                            v-model="start_date"
                            label="Start Date"
                            prepend-icon="mdi-calendar"
                            :error-messages="errors"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </ValidationProvider>
                      </template>
                      <v-date-picker v-model="start_date" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu = false"
                          >Cancel</v-btn
                        >
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.menu.save(start_date)"
                          >OK</v-btn
                        >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12">
                    <v-menu
                      ref="menu1"
                      v-model="menu1"
                      :close-on-content-click="false"
                      :return-value.sync="end_date"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <ValidationProvider
                          v-slot="{ errors }"
                          name="end_date"
                          rules="required"
                        >
                          <v-text-field
                            v-model="end_date"
                            label="Deadline Date"
                            prepend-icon="mdi-calendar"
                            :error-messages="errors"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </ValidationProvider>
                      </template>
                      <v-date-picker v-model="end_date" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu1 = false"
                          >Cancel</v-btn
                        >
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.menu1.save(end_date)"
                          >OK</v-btn
                        >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="dialog = false"
                >Close</v-btn
              >
              <v-btn
                color="blue darken-1"
                text
                :loading="postFeatureLoading"
                type="submit"
                >Save</v-btn
              >
            </v-card-actions>
          </form>
        </ValidationObserver>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editDialog" persistent max-width="600px">
      <v-card :loading="updateFeatureLoading">
        <v-card-title>
          <h5>Edit Feature</h5>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <span>Feature Name</span>
                <v-text-field
                  label="Name*"
                  v-model="title"
                  outlined
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <span>Feature Description</span>
                <v-textarea
                  v-model="description"
                  outlined
                  name="input-7-4"
                  label="Description"
                ></v-textarea>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="start_date"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="start_date"
                      label="Start Date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="start_date" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false"
                      >Cancel</v-btn
                    >
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu.save(start_date)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu1"
                  v-model="menu1"
                  :close-on-content-click="false"
                  :return-value.sync="end_date"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="end_date"
                      label="Deadline Date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="end_date" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu1 = false"
                      >Cancel</v-btn
                    >
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu1.save(end_date)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="editDialog = false"
            >Close</v-btn
          >
          <v-btn
            color="blue darken-1"
            text
            @click="updateFeature"
            :loading="updateFeatureLoading"
            >edit</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      editDialog: false,
      start_date: new Date().toISOString().substr(0, 10),
      menu: false,
      end_date: new Date().toISOString().substr(0, 10),
      menu1: false,
      name: "",
      description: "",
      skills: "",
      title: "",
      id: "",
      photo: null,
      dialog: false,
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/home/dashboard",
        },
        {
          text: "Project Features",
          disabled: true,
          href: "/home/project-features",
        },
      ],
      search: "",
      headers: [
        {
          text: "Title",
          align: "left",
          sortable: false,
          value: "featureName",
        },
        {
          text: "Description",
          align: "left",
          sortable: false,
          value: "featureDescription",
        },
        {
          text: "Start Date",
          align: "left",
          sortable: false,
          value: "startDate",
        },
        {
          text: "End Date",
          align: "left",
          sortable: false,
          value: "endDate",
        },
        {
          text: "Status",
          align: "left",
          sortable: false,
          value: "status",
        },
        { text: "Actions", value: "actions" },
      ],
    };
  },
  methods: {
    setNull() {
      this.title = "";
      this.description = "";
      this.menu = false;
      this.menu1 = false;
      this.start_date = new Date().toISOString().substr(0, 10);
      this.end_date = new Date().toISOString().substr(0, 10);
    },
    launchEdit(id) {
      this.editDialog = true;
      this.id = id;
      let feature = this.$store.getters.getFeatureById(id);
      this.title = feature.featureName;
      this.description = feature.featureDescription;
      this.end_date = feature.endDate;
      this.start_date = feature.startDate;
    },
    postFeature() {
      let data = {
        featureName: this.title,
        projectId: this.selected_project,
        featureDescription: this.description,
        startDate: this.start_date,
        endDate: this.end_date,
        status: "Inprogress",
      };
      if (this.start_date < new Date().toISOString().substr(0, 10)) {
        this.$refs.form.setErrors({
          start_date: ["Must be greater than or equal to current date"],
        });
      } else {
        this.$store
          .dispatch("postFeature", data)
          .then(() => {
            if (this.isFeaturePosted == true) {
              this.$store.dispatch(
                "set_snackbar_message",
                "Feature added successfully"
              );
              this.$store.dispatch("stepper_snackbar", true);
              this.$store.dispatch("fetchFeatures", this.selected_project);
              this.dialog = false;
              this.setNull();
            } else {
              if(this.start_date >= this.end_date){
              this.$refs.form.setErrors({
                end_date: ["Must be greater than start date"],
              });
              }

              console.log(this.postFeatureError);
              this.$store.dispatch(
                "set_snackbar_message",
                "Failed to add feature"
              );
              this.$store.dispatch("stepper_snackbar", true);
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    updateFeature() {
      let data = {
        featureName: this.title,
        projectId: this.selected_project,
        featureDescription: this.description,
        id: this.id,
        startDate: this.start_date,
        endDate: this.end_date,
      };
      this.$store
        .dispatch("updateFeature", data)
        .then(() => {
          if (this.isFeatureUpdated == true) {
            this.$store.dispatch(
              "set_snackbar_message",
              "Feature updated successfully"
            );
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch("fetchFeatures", this.selected_project);
            this.editDialog = false;
            this.setNull();
          } else {
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to update feature"
            );
            this.$store.dispatch("stepper_snackbar", true);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
  },
  created() {
    this.$store.dispatch("fetchFeatures", this.selected_project);
  },
  destroyed() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
  computed: {
    ...mapState([
      "features",
      "fetchFeaturesLoading",
      "fetchFeaturesError",
      "isFeaturePosted",
      "postFeatureLoading",
      "postFeatureError",
      "selected_project",
      "snackbar",
      "snackbar_message",
      "isFeatureUpdated",
      "updateFeatureLoading",
      "updateFeatureError",
    ]),
  },
};
</script>
