<template>
  <div style="padding: 5px">
    <v-row>
      <div style="padding: 10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <p class="headline">Projects</p>
    <v-card>
      <v-card-title>
        <div>
          <download-excel :data="all_projects">
            <v-btn
              class="text-capitalize"
              color="green white--text"
              @click="collaboration_dialog = true"
            >
              Download Report
              <v-icon right dark> mdi-handshake </v-icon>
            </v-btn>
          </download-excel>
        </div>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="all_projects"
        :loading="fetchAllProjectsLoading"
        :search="search"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
        <template v-slot:[`item.created_at`]="{ item }">
          {{ item.created_at | myDate }}
        </template>
        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            v-if="item.status == 'rejected'"
            >{{ item.status }}</v-chip
          >
          <v-chip
            class="ma-2"
            color="green"
            text-color="white"
            v-else-if="item.status == 'approved'"
            >{{ item.status }}</v-chip
          >
          <v-chip class="ma-2" color="primary" text-color="white" v-else>{{
            item.status
          }}</v-chip>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mx-2"
                fab
                dark
                small
                color="green"
                @click="approveProject(item.status, item.id)"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon dark>mdi-check</v-icon>
              </v-btn>
            </template>
            <span>Approve Project</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mx-2"
                fab
                dark
                small
                color="red"
                v-bind="attrs"
                @click="rejectProject(item.status, item.id)"
                v-on="on"
              >
                <v-icon dark>mdi-alpha-x</v-icon>
              </v-btn>
            </template>
            <span>Reject Project</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-card>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
    <v-dialog
      v-model="changeProjectStatusLoading"
      hide-overlay
      persistent
      width="300"
    >
      <v-card color="primary" dark>
        <v-card-text>
          <p class="mt-3 mb-2">Approving Project Please wait!!</p>
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/admin-dashboard",
        },
        {
          text: "Projects",
          disabled: true,
          href: "/admin-dashboard/projects",
        },
      ],
      search: "",
      headers: [
        {
          text: "Project Name",
          align: "left",
          sortable: false,
          value: "projectName",
        },
        {
          text: "Team",
          align: "left",
          sortable: false,
          value: "teamName",
        },
        {
          text: "Status",
          align: "left",
          sortable: false,
          value: "status",
        },
        {
          text: "Date",
          align: "left",
          sortable: false,
          value: "created_at",
        },

        { text: "Actions", value: "actions" },
      ],
    };
  },
  methods: {
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
    approveProject(status, id) {
      let data = {
        projectId: id,
        status: "approved",
      };

      this.$store
        .dispatch("changeProjectStatus", data)
        .then(() => {
          if (this.isProjectStatusChanged == true) {
            this.$store.dispatch("fetchAllProjects");
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Project approved successfully"
            );
          } else {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Project approval Failed"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    rejectProject(status, id) {
      let data = {};

      data = {
        projectId: id,
        status: "rejected",
      };

      this.$store
        .dispatch("changeProjectStatus", data)
        .then(() => {
          if (this.isProjectStatusChanged == true) {
            this.$store.dispatch("fetchAllProjects");
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Project rejected successfully"
            );
          } else {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Project rejection Failed"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  beforeCreate() {
    this.$store.dispatch("fetchAllProjects");
  },
  destroyed() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },

  computed: {
    ...mapState([
      "all_projects",
      "fetchAllProjectsLoading",
      "fetchAllProjectsError",
      "isProjectStatusChanged",
      "changeProjectStatusLoading",
      "changeProjectStatusError",
      "snackbar",
      "snackbar_message",
    ]),
  },
};
</script>
