<template>
  <div>
    <v-container
      fluid
      fill-height
      style="background-color: rgba(255, 255, 255, 0.5); height: 100vh"
      v-if="fetchProjectDetailsLoading"
      ><v-overlay :value="fetchProjectDetailsLoading">
        <v-layout justify-center align-center>
          <v-progress-circular indeterminate size="64"> </v-progress-circular>
        </v-layout>
      </v-overlay>
    </v-container>
    <v-container v-else>
      <v-card class="pt-5 pb-5 pl-5 pr-5">
        <h3 class="headline pb-3">{{ project.project.projectName }}</h3>
        <v-divider></v-divider>
        <v-row>
          <v-col cols="12" md="3">
            <v-img
              :src="`http://173.212.252.138/${project.project.projectImage}`"
              height="300"
            />
          </v-col>
          <v-col cols="12" md="8">
            <h3 class="heading">Project Description</h3>
            <p>
              {{ project.project.projectDescription }}
            </p>
            <h3>Developed by {{ project.project.teamName }}</h3>
            <div class="d-flex justify-space-between">
              <div>
                <div class="text-left mt-2 d-flex">
                  <v-rating
                    v-model="project.rating"
                    color="blue darken-3"
                    background-color="grey darken-1"
                    empty-icon="$ratingFull"
                    half-increments
                    hover
                    small
                  ></v-rating>
                  <h5 class="caption pt-2">
                    {{ project.no_reviews > 0 ? project.no_reviews : 0 }}
                    Reviews
                  </h5>
                </div>
              </div>
              <div class="d-flex justify-space-around">
                <div>
                  <v-btn
                    class="text-capitalize"
                    color="primary"
                    @click="dialog = true"
                  >
                    Clone Project
                    <v-icon right dark> mdi-briefcase-download </v-icon>
                  </v-btn>
                </div>
                <div
                  class="ml-3"
                  v-if="project.collaboration_status == 'active'"
                >
                  <v-btn
                    class="text-capitalize"
                    color="green white--text"
                    @click="collaboration_dialog = true"
                  >
                    Collaborate
                    <v-icon right dark> mdi-handshake </v-icon>
                  </v-btn>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-card>
      <v-card class="pt-5 pb-5 pl-5 pr-5 mt-4">
        <v-card-title> Project Collaborators </v-card-title>
        <v-data-table
          :headers="collaborator_headers"
          :items="project.collaborators"
          :footer-props="{
            showFirstLastPage: true,
            firstIcon: 'mdi-arrow-collapse-left',
            lastIcon: 'mdi-arrow-collapse-right',
            prevIcon: 'mdi-minus',
            nextIcon: 'mdi-plus',
          }"
        >
        </v-data-table>
      </v-card>
      <v-card class="pt-5 pb-5 pl-5 pr-5 mt-4">
        <v-card-title> Project Team </v-card-title>
        <v-data-table
          :headers="team_headers"
          :items="project.team"
          :footer-props="{
            showFirstLastPage: true,
            firstIcon: 'mdi-arrow-collapse-left',
            lastIcon: 'mdi-arrow-collapse-right',
            prevIcon: 'mdi-minus',
            nextIcon: 'mdi-plus',
          }"
        >
        </v-data-table>
      </v-card>
      <v-card class="pt-5 pb-5 pl-5 pr-5 mt-4">
        <v-row>
          <v-col>
            <v-row class="d-flex justify-space-between">
              <div>Project Team</div>
              <div>
                <v-btn
                  class="text-capitalize"
                  color="orange white--text"
                  @click="rating_dialog = true"
                >
                  Rate Project
                  <v-icon right dark> mdi-star </v-icon>
                </v-btn>
              </div>
            </v-row>
            <p class="mb-0">
              {{ project.no_reviews > 0 ? project.no_reviews : 0 }} Reviews
            </p>
            <AddComment
              @videoCommentLength="video.comments++"
              :videoId="project.id"
            />
            <CommentList />
          </v-col>
        </v-row>
      </v-card>
      <v-row justify="center">
        <v-dialog v-model="dialog" persistent width="500">
          <v-card>
            <v-card-title class="headline"> Usage Agreement </v-card-title>
            <v-card-text>{{ project.project.licenseAgreement }}</v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="dialog = false">
                Disagree
              </v-btn>
              <v-btn
                color="green darken-1"
                text
                router
                @click="agreeToAgreement(project.project.id)"
              >
                Agree
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="collaboration_dialog" persistent max-width="600px">
          <v-card :loading="postCollaborationRequestLoading">
            <v-card-title>
              <span class="headline">Collaborate</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <span
                      ><h1>Feature:</h1>
                      {{ project.featureName }}</span
                    >
                    <span
                      ><h1>Skills Required:</h1>
                      {{ project.skillsRequired }}</span
                    >
                  </v-col>
                  <v-col cols="12">
                    <span><h1>Collaboration Reason</h1></span>
                    <v-textarea
                      v-model="reason"
                      outlined
                      label="Enter reason*"
                      dense
                      required
                    ></v-textarea>
                  </v-col>
                  <v-col>
                    <span><h1>Upload Resume</h1></span>
                    <v-file-input
                      v-model="resume"
                      placeholder="Upload Resume"
                      label="Resume"
                      prepend-icon="mdi-paperclip"
                      outlined
                    ></v-file-input>
                  </v-col>
                </v-row>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="collaboration_dialog = false"
                >Close</v-btn
              >
              <v-btn
                color="blue darken-1"
                text
                :loading="postCollaborationRequestLoading"
                @click="
                  postCollaborationRequest(project.project.id, project.callId)
                "
                >Send Request</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="rating_dialog" persistent width="300">
          <v-card :loading="postRatingLoading">
            <v-card-title class="headline justify-center">
              Rate Project
            </v-card-title>
            <v-card-text class="justify-center">
              <v-rating
                v-model="rating"
                color="blue darken-3"
                background-color="grey darken-1"
                empty-icon="$ratingFull"
                half-increments
                hover
                large
              ></v-rating>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="rating_dialog = false">
                Close
              </v-btn>
              <v-btn
                color="green darken-1"
                text
                router
                :loading="postRatingLoading"
                @click="postRating(project.project.id)"
              >
                Submit
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </v-container>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import AddComment from "@/components/comments/AddComment";
import CommentList from "@/components/comments/CommentList";
import { mapState } from "vuex";
export default {
  components: {
    AddComment,
    CommentList,
  },
  name: "ProjectDetails",
  data: () => ({
    loading: true,
    rating_dialog: false,
    rating: 0,
    dialog: false,
    collaboration_dialog: false,
    reason: "",
    resume: null,
    project_id: "",
    collaborator_skills: [],
    collaborator_headers: [
      {
        text: "First Name",
        align: "left",
        sortable: false,
        value: "first_name",
      },
      {
        text: "Last Name",
        align: "left",
        sortable: false,
        value: "last_name",
      },
      {
        text: "Feature",
        align: "left",
        sortable: false,
        value: "feature_name",
      },
    ],
    team_headers: [
      {
        text: "First Name",
        align: "left",
        sortable: false,
        value: "first_name",
      },
      {
        text: "Last Name",
        align: "left",
        sortable: false,
        value: "last_name",
      },
      {
        text: "Role",
        align: "left",
        sortable: false,
        value: "role",
      },
    ],
  }),
  methods: {
    setNull() {
      this.resume = null;
      this.reason = "";
    },
    agreeToAgreement(id) {
      this.dialog = false;
      this.$router.push(`/view-project/${id}`);
    },
    postCollaborationRequest(projectId, callId) {
      let data = new FormData();
      data.append("reason", this.reason);
      data.append("resume", this.resume);
      data.append("callId", callId);
      data.append("projectId", projectId);
      this.$store
        .dispatch("postCollaborationRequest", data)
        .then(() => {
          if (this.isCollaborationRequestPosted == true) {
            this.$store.dispatch(
              "set_snackbar_message",
              "Collaboration Request Sent"
            );
            this.$store.dispatch("stepper_snackbar", true);
            this.collaboration_dialog = false;
            this.setNull();
          } else {
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to sent Collaboration request"
            );
            this.$store.dispatch("stepper_snackbar", true);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    postRating(id) {
      let data = {
        projectId: id,
        rating: this.rating,
      };

      this.$store
        .dispatch("postRating", data)
        .then(() => {
          if (this.isRatingPosted == true) {
            this.$store.dispatch(
              "fetchProjectDetailsWithoutLoading",
              this.selected_project
            );
            this.$store.dispatch("set_snackbar_message", "Rating Submitted");
            this.$store.dispatch("stepper_snackbar", true);
            this.rating_dialog = false;
            this.rating = "";
          } else {
            this.$store.dispatch(
              "set_snackbar_message",
              "Rating not submitted"
            );
            this.$store.dispatch("stepper_snackbar", true);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
  },

  created() {
    let id = parseInt(this.$route.params.id, 10);
    this.project_id = id;
    this.$store.dispatch("selectProject", id);
    this.$store.dispatch("fetchProjectDetails", id);
  },
  beforeDestroy() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
  computed: {
    ...mapState([
      "project",
      "fetchProjectDetailsLoading",
      "fetchProjectDetailsError",
      "isCollaborationRequestPosted",
      "postCollaborationRequestLoading",
      "postCollaborationRequestError",
      "snackbar",
      "snackbar_message",
      "isRatingPosted",
      "postRatingLoading",
      "postRatingError",
    ]),
  },
};
</script>
<style scoped>
.heading {
  font-weight: 400;
  font-size: 1.2rem;
}
.page-container {
  background: #eeeeee;
}
</style>
