<template>
  <div style="padding: 5px">
    <v-row>
      <div style="padding: 10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <v-container
      fluid
      fill-height
      style="background-color: rgba(255, 255, 255, 0.5)"
      v-if="fetchReviewsLoading"
    >
      <v-layout justify-center align-center>
        <v-progress-circular indeterminate color="primary">
        </v-progress-circular>
      </v-layout>
    </v-container>
    <div v-else>
      <h1 class="headline pb-2">Project Reviews</h1>
      <div v-if="reviews.length <= 0" class="d-flex justify-center">
        <p >No Reviews yet!!</p>
      </div>
      <div v-for="(review, index) in reviews" :key="index" v-else>
        <ReviewCard :review="review" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import ReviewCard from "../components/ReviewCard";
export default {
  components: {
    ReviewCard,
  },
  data() {
    return {
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/admin-dashboard",
        },
        {
          text: "Reviews",
          disabled: true,
          href: "/student-dashboard/reviews",
        },
      ],
    };
  },
  methods: {},
  created() {
    this.$store.dispatch("fetchReviews", this.selected_project);
  },
  computed: {
    ...mapState([
      "reviews",
      "fetchReviewsLoading",
      "fetchReviewsError",
      "selected_project",
    ]),
  },
};
</script>
