<template>
  <div style="padding: 5px">
    <v-row>
      <div style="padding: 10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <v-layout
      flex
      justify-space-between
      style="padding-bottom: 10px"
      class="mr-5 ml-5"
    >
      <div>
        <p class="headline">Simulation Steps</p>
      </div>
      <v-btn
        @click="addSteps"
        color="success"
        style="text-transform: capitalize"

      >
        add Step
        <v-icon style="margin-left: 3px">mdi-plus</v-icon>
      </v-btn>
    </v-layout>
    <v-row class="pl-5 pr-5">
      <v-col v-for="(step, index) in steps" :key="index" cols="12">
        <span
          ><h1>{{ step.label }}</h1></span
        >
        <v-text-field v-model="step.description" label="Enter step description" outlined></v-text-field>
      </v-col>
    </v-row>
     <v-layout flex align-end justify-end style="padding-bottom:10px" class="mr-5">
      <v-btn
        @click.stop="dialog = true"
        color="primary"
        style="text-transform:capitalize"
      >
        submit Simulation
        <v-icon style="margin-left:3px">mdi-arrow-right</v-icon>
      </v-btn>
    </v-layout>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/student-dashboard",
        },
        {
          text: "Simulate Project",
          disabled: true,
          href: "/student-dashboard/simulate-project",
        },
      ],
      steps: [
        {
          label: "Step 1",
          description: "",
        },
      ],
      step_number: 2,
    };
  },
  methods: {
    addSteps() {
      console.log(this.steps);
      this.steps.push({
        label: "Step " + this.step_number,
        description: "",
      });
      this.step_number += 1;
    },
  },
};
</script>

<style>
</style>