<template>
  <div class="admin">
    <v-row>
      <v-breadcrumbs :items="items">
        <template v-slot:divider>
          <v-icon>mdi-forward</v-icon>
        </template>
      </v-breadcrumbs>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-hover>
          <template v-slot="{ hover }">
            <v-card
              class="mx-auto pb-10"
              max-width="370"
              max-height="100"
              to="/student-dashboard/clones"
              :elevation="hover ? 24 : 6"
              :loading="fetchStudentDashboardStatisticsLoading"
            >
              <v-list-item>
                <v-icon color="black" size="100"
                  >mdi-briefcase-download-outline</v-icon
                >
                <v-list-item-content>
                  <v-list-item-title class="headline" style="padding:5px">
                    <pulse-loader
                      :loading="fetchStudentDashboardStatisticsLoading"
                    ></pulse-loader>
                    <h5 v-if="!fetchStudentDashboardStatisticsLoading">
                      {{ studentDashboardStatistics.deployed_devices }}
                    </h5>
                  </v-list-item-title>
                  <v-list-item-subtitle style="font-size:16px;padding:5px"
                    >Clones</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-hover>
          <template v-slot="{ hover }">
            <v-card
              class="mx-auto "
              max-width="370"
              max-height="150"
              to="/student-dashboard/team-members"
              :elevation="hover ? 24 : 6"
              :loading="fetchStudentDashboardStatisticsLoading"
            >
              <v-list-item>
                <v-icon color="black" size="100">mdi-account-group</v-icon>
                <v-list-item-content>
                  <v-list-item-title class="headline" style="padding:5px">
                    <pulse-loader
                      :loading="fetchStudentDashboardStatisticsLoading"
                    ></pulse-loader>
                    <h5 v-if="!fetchStudentDashboardStatisticsLoading">
                      {{ studentDashboardStatistics.project_team }}
                    </h5>
                  </v-list-item-title>
                  <v-list-item-subtitle style="font-size:16px;padding:5px"
                    >Team Members</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-hover>
          <template v-slot="{ hover }">
            <v-card
              class="mx-auto"
              max-width="370"
              to="/student-dashboard/collaborators"
              :elevation="hover ? 24 : 6"
              :loading="fetchStudentDashboardStatisticsLoading"
            >
              <v-list-item>
                <v-icon color="black" size="100">mdi-handshake</v-icon>
                <v-list-item-content>
                  <v-list-item-title class="headline" style="padding:5px">
                    <pulse-loader
                      :loading="fetchStudentDashboardStatisticsLoading"
                    ></pulse-loader>
                    <h5 v-if="!fetchStudentDashboardStatisticsLoading">
                      {{ studentDashboardStatistics.collaborators }}
                    </h5>
                  </v-list-item-title>
                  <v-list-item-subtitle style="font-size:16px; padding:5px"
                    >Collaborators</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col cols="12" sm="6" md="3">
        <v-hover>
          <template v-slot="{ hover }">
            <v-card
              class="mx-auto"
              max-width="370"
              to="/student-dashboard/reviews"
              :elevation="hover ? 24 : 6"
              :loading="fetchStudentDashboardStatisticsLoading"
            >
              <v-list-item>
                <v-icon color="black" size="100">mdi-chat</v-icon>
                <v-list-item-content>
                  <v-list-item-title class="headline" style="padding:5px">
                    <pulse-loader
                      :loading="fetchStudentDashboardStatisticsLoading"
                    ></pulse-loader>
                    <h5 v-if="!fetchStudentDashboardStatisticsLoading">
                      {{ studentDashboardStatistics.reviews }}
                    </h5>
                  </v-list-item-title>
                  <v-list-item-subtitle style="font-size:16px; padding:5px"
                    >Reviews</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </template>
        </v-hover>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <h5 class="text-center">
          Trend of Project Clones
        </h5>
        <canvas id="myChart" width="1100" height="400"></canvas>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import Chart from "chart.js";
export default {
  components: {
    PulseLoader,
  },
  data() {
    return {
      items: [
        {
          text: "Home",
          disabled: false,
          href: "/home",
        },
        {
          text: "Dashboard",
          disabled: true,
          href: "/home",
        },
      ],
      labels: ["Jan", "Feb", "March", "May", "June", "July"],
      data: [34, 70, 78, 89, 10, 45],
    };
  },
  methods: {
    cloning_trend_graph(data_one, labels) {
      this.renderTo = "myChart";
      const ctx = document.getElementById(this.renderTo).getContext("2d");
      const myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Number of clones",
              data: data_one,
              backgroundColor: "#1B5E20",
              fill: false,
              borderColor: "#1B5E20",
              borderWidth: 3,
            },
          ],
        },
        options: {
          responsive: true,
          stacked: false,
          title: {
            display: false,
          },
          tooltips: {
            mode: "index",
            intersect: false,
          },
          hover: {
            mode: "nearest",
            intersect: true,
          },
          scales: {
            x: {
              display: true,
              scaleLabel: {
                display: true,
                labelString: "Month",
              },
            },
            y: {
              display: true,
              scaleLabel: {
                display: true,
                labelString: "Savings",
              },
            },
          },
        },
      });
      window.mygraph = myChart;
    },
  },
  mounted() {
    this.cloning_trend_graph(this.getClonesValues, this.getMonthCloneLabels);
  },
   watch: {
    getClonesValues: function() {
      window.mygraph.destroy();
      this.cloning_trend_graph(this.getClonesValues, this.getMonthCloneLabels);
    },
   
  },
  created() {
    this.$store.dispatch(
      "fetchStudentDashboardStatistics",
      this.selected_project
    );
    this.$store.dispatch("fetchStudentMonthlyClones", this.selected_project);
  },
  computed: {
    ...mapGetters(["getClonesValues", "getMonthCloneLabels"]),
    ...mapState([
      "studentDashboardStatistics",
      "fetchStudentDashboardStatisticsLoading",
      "fetchStudentDashboardStatisticsError",
      "selected_project",
    ]),
  },
};
</script>

<style scoped>
.admin {
  padding: 10px;
}
</style>
