<template>
  <div style="padding:5px">
    <v-row>
      <div style="padding:10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <v-card>
      <v-card-title>
        Students
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="students"
        :search="search"
        :loading="fetchStudentsLoading"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            class="ma-2"
            color="red"
            text-color="white"
            v-if="item.status == 'Rejected'"
            >{{ item.status }}</v-chip
          >
          <v-chip
            class="ma-2"
            color="green"
            text-color="white"
            v-else-if="item.status == 'Approved'"
            >{{ item.status }}</v-chip
          >
          <v-chip class="ma-2" color="primary" text-color="white" v-else>{{
            item.status
          }}</v-chip>
        </template>
        <template v-slot:[`item.actions`]>
          <v-btn class="mx-2" fab dark small color="pink">
            <v-icon dark>mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/admin-dashboard",
        },
        {
          text: "Students",
          disabled: true,
          href: "/admin-dashboard/Students",
        },
      ],
      search: "",
      headers: [
        {
          text: "First Name",
          align: "left",
          sortable: false,
          value: "first_name",
        },
        {
          text: "Last Name",
          align: "left",
          sortable: false,
          value: "last_name",
        },
        {
          text: "Email",
          align: "left",
          sortable: false,
          value: "email",
        },
        {
          text: "College",
          align: "left",
          sortable: false,
          value: "college",
        },
        {
          text: "Course",
          align: "left",
          sortable: false,
          value: "course",
        },
       
      ]
    };
  },
  methods: {

  },
   beforeCreate() {
    this.$store.dispatch("fetchStudents");
  },
   computed: {
    ...mapState(["students", "fetchStudentsLoading", "fetchStudentsError"]),
  },
};
</script>
