<template>
  <div style="padding:5px">
    <v-row>
      <div style="padding:10px">
        <v-row>
          <v-breadcrumbs :items="items">
            <template v-slot:divider>
              <v-icon>mdi-forward</v-icon>
            </template>
          </v-breadcrumbs>
        </v-row>
      </div>
    </v-row>
    <v-layout flex  justify-space-between>
      <p class="headline">Team Members</p>
      <v-btn
        @click.stop="dialog = true"
        color="success"
        style="text-transform:capitalize"
      >
        add Member
        <v-icon style="margin-left:3px">mdi-plus</v-icon>
      </v-btn>
    </v-layout>
    <v-card>
      <v-card-title>
        <div>
          <download-excel :data="team_members">
            <v-btn
              class="text-capitalize"
              color="green white--text"
            >
              Download Report
              <v-icon right dark>  mdi-chart-line  </v-icon>
            </v-btn>
          </download-excel>
        </div>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="team_members"
        :loading="fetchTeamMembersLoading"
        :search="search"
        :footer-props="{
          showFirstLastPage: true,
          firstIcon: 'mdi-arrow-collapse-left',
          lastIcon: 'mdi-arrow-collapse-right',
          prevIcon: 'mdi-minus',
          nextIcon: 'mdi-plus',
        }"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn
            class="mx-2"
            fab
            dark
            small
            color="cyan"
            @click="launchEdit(item.id)"
          >
            <v-icon dark>mdi-pencil</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card :loading="postMemberLoading">
        <v-card-title>
          <h5>Add Member</h5>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <span><h1>Member</h1></span>
                <v-autocomplete
                  v-model="studentId"
                  :disabled="isUpdating"
                  :items="students"
                  chips
                  outlined
                  color="blue-grey lighten-2"
                  label="Select Member"
                  item-text="first_name"
                  item-value="id"
                >
                  <template v-slot:selection="data">
                    <v-chip
                      v-bind="data.attrs"
                      :input-value="data.selected"
                      close
                      @click="data.select"
                      @click:close="remove(data.item)"
                    >
                      {{ data.item.first_name }} {{ data.item.first_name }}
                    </v-chip>
                  </template>
                  <template v-slot:item="data">
                    <template v-if="typeof data.item !== 'object'">
                      <v-list-item-content
                        v-text="data.item"
                      ></v-list-item-content>
                    </template>
                    <template v-else>
                      <v-list-item-content>
                        <v-list-item-title
                          v-html="
                            data.item.first_name + ' ' + data.item.last_name
                          "
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          v-html="data.item.course"
                        ></v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </template>
                </v-autocomplete>
              </v-col>
              <v-col cols="12">
                <span><h1>Role</h1></span>
                <v-autocomplete
                  label="Role"
                  :items="roles"
                  v-model="role"
                  outlined
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Close</v-btn
          >
          <v-btn
            color="blue darken-1"
            text
            @click="postMember"
            :loading="postMemberLoading"
            >Add</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editDialog" persistent max-width="600px">
      <v-card :loading="updateTeamMemberLoading">
        <v-card-title>
          <h5>Edit Member</h5>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <span><h1>Role</h1></span>
                <v-autocomplete
                  label="Role"
                  :items="roles"
                  v-model="role"
                  outlined
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="editDialog = false"
            >Close</v-btn
          >
          <v-btn
            color="blue darken-1"
            text
            @click="updateMember"
            :loading="updateTeamMemberLoading"
            >edit</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      editDialog: false,
      showDeletion: false,
      dismis: true,
      name: "",
      farm: "",
      role: "",
      id: "",
      wage: "",
      duration: "",
      memberId: "",
      studentId: "",
      projectId: "",
      roles: [
        "Developer",
        "Maintainer",
        "Requirements Engineer",
        "System Analyst",
      ],
      farms: ["Estella", "Santaigo"],
      dialog: false,
      items: [
        {
          text: "Home",
          disabled: true,
          href: "/student-dashboard",
        },
        {
          text: "Team Members",
          disabled: true,
          href: "/student-dashboard/team-members",
        },
      ],
      search: "",
      headers: [
        {
          text: "First Name",
          align: "left",
          sortable: false,
          value: "first_name",
        },
        {
          text: "Last Name",
          align: "left",
          sortable: false,
          value: "last_name",
        },
        { text: "Role", value: "role" },
        { text: "Actions", value: "actions" },
      ],
      men: [
        {
          name: "Wamozo Cosmas",
          course: "BSSE",
          role: "Developer",
        },
      ],
      autoUpdate: true,
      friends: ["Sandra Adams", "Britta Holt"],
      isUpdating: false,
      title: "The summer breeze",
    };
  },
  watch: {
    isUpdating(val) {
      if (val) {
        setTimeout(() => (this.isUpdating = false), 3000);
      }
    },
  },
  methods: {
    launchEdit(id) {
      this.editDialog = true;
      let member = this.$store.getters.getTeamMemberById(id);
      this.role = member.role;
      this.id = member.id;
    },
    setNull() {
      this.role = "";
    },
    postMember() {
      let data = {
        userId: this.studentId,
        projectId: this.selected_project,
        role: this.role,
      };
      this.$store
        .dispatch("postTeamMember", data)
        .then(() => {
          if (this.isMemberAdded == true) {
            this.$store.dispatch("fetchTeamMembers", this.selected_project);
            this.dialog = false;
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Team Member added successfully"
            );
          } else {
            this.dialog = false;
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to add team member!!"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    updateMember() {
      let data = {
        id: this.id,
        role: this.role,
      };
      this.$store
        .dispatch("updateTeamMember", data)
        .then(() => {
          if (this.isTeamMemberUpdated == true) {
            this.$store.dispatch("fetchTeamMembers", this.selected_project);
            this.editDialog = false;
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Team Member updated successfully"
            );
          } else {
            this.dialog = false;
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to update team member!!"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },

    remove(item) {
      const index = this.friends.indexOf(item.name);
      if (index >= 0) this.friends.splice(index, 1);
    },
    toggleDialog() {
      this.$store.dispatch("stepper_toggler", false);
    },
  },
  beforeCreate() {
    this.$store.dispatch("fetchStudents");
  },
  created() {
    console.log("Selected Project", this.selected_project);
    this.$store.dispatch("fetchTeamMembers", this.selected_project);
  },
  destroyed() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
  computed: {
    ...mapState([
      "isMemberAdded",
      "postMemberLoading",
      "postMemberError",
      "team_members",
      "fetchTeamMembersLoading",
      "fetchTeamMembersError",
      "selected_project",
      "students",
      "snackbar",
      "snackbar_message",
      "isTeamMemberUpdated",
      "updateTeamMemberLoading",
      "updateTeamMemberError",
    ]),
  },
};
</script>
