<template>
  <div>
    <v-container
      fluid
      fill-height
      style="background-color: rgba(255, 255, 255, 0.5); height: 100vh"
      v-if="fetchProjectDocumentationLoading"
      ><v-overlay :value="fetchProjectDocumentationLoading">
        <v-layout justify-center align-center>
          <v-progress-circular indeterminate size="64"> </v-progress-circular>
        </v-layout>
      </v-overlay>
    </v-container>
    <v-container v-else>
      <v-card>
        <v-tabs vertical>
          <v-tab class="text-capitalize"> Project Description </v-tab>
          <v-tab class="text-capitalize"> Hardware Shematics </v-tab>
          <v-tab class="text-capitalize"> Project Gallery </v-tab>
          <v-tab class="text-capitalize"> Concept Paper </v-tab>
          <v-tab class="text-capitalize"> Requirements Document </v-tab>
          <v-tab class="text-capitalize"> Design Document </v-tab>
          <v-tab class="text-capitalize"> User manual </v-tab>
          <v-tab class="text-capitalize"> Project Codebase </v-tab>
          <v-tab class="text-capitalize"> Cloning Feedback </v-tab>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <h1 class="headline">
                  {{ projectDocumentation.project.projectName }}
                </h1>
                <h1>
                  Developed By {{ projectDocumentation.project.teamName }}
                </h1>
                <v-img
                  :src="`http://173.212.252.138/${projectDocumentation.project.projectImage}`"
                  height="400"
                  width="800"
                ></v-img>
                <h1 class="pt-3 pb-2">Project Description</h1>
                <p>{{ projectDocumentation.project.projectDescription }}</p>
                <h1 class="pt-3 pb-2">Detailed Video Descrip[tion</h1>
                <iframe
                  width="853"
                  height="480"
                  src="https://www.youtube.com/embed/DvdiVwx996s"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <pdf
                  v-for="i in numPages"
                  :key="i"
                  :src="`http://173.212.252.138/${projectDocumentation.hardware_schematics}`"
                  :page="i"
                ></pdf>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <v-row>
                  <v-col
                    cols="12"
                    md="4"
                    v-for="image in projectDocumentation.gallery"
                    :key="image"
                  >
                    <v-img
                      :src="`http://173.212.252.138/${image}`"
                      height="300"
                      width="300"
                      class="mt-2 mb-2"
                    ></v-img>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <pdf
                  v-for="i in numPages"
                  :key="i"
                  :src="`http://173.212.252.138/${projectDocumentation.concept_paper}`"
                  :page="i"
                ></pdf>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <pdf
                  :src="`http://173.212.252.138/${projectDocumentation.srs}`"
                ></pdf>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <pdf
                  v-for="i in numPages"
                  :key="i"
                  :src="`http://173.212.252.138/${projectDocumentation.sdd}`"
                  :page="i"
                ></pdf>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <pdf
                  v-for="i in numPages"
                  :key="i"
                  :src="`http://173.212.252.138/${projectDocumentation.user_manual}`"
                  :page="i"
                ></pdf>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <h1>Codebase Link</h1>
                <p>
                  You must own a git account to access this. Its a public repo
                  and follow the steps in the README.md file to install the
                  scripts on your device. For any issues during installation,
                  send the team feadback by filling the form on the cloning
                  feedback tab
                </p>
                <a>{{ projectDocumentation.link }}</a>
                <h1 class="mt-5 mb-2">For realtime Stream Analyisis</h1>
                <v-btn
                  class="text-capitalize"
                  color="green white--text"
                  @click="fetchKey"
                  :loading="fetchApiKeyLoading"
                >
                  Generate API Key
                  <v-icon right dark> mdi-key </v-icon>
                </v-btn>

                <v-text-field
                  ref="apiKey"
                  label="API Key"
                  color="primary"
                  persistent-hint
                  v-model="apiKey"
                  hint="Click copy to copy key to clipboard"
                >
                  <template v-slot:append>
                    <v-tooltip v-model="show" top>
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          depressed
                          tile
                          color="primary"
                          class="ma-0"
                          v-bind="attrs"
                          v-on="on"
                          v-clipboard:copy="key_value"
                          v-clipboard:success="onCopy"
                          v-clipboard:error="onError"
                        >
                          Copy
                        </v-btn>
                      </template>
                      <span>{{ tooltip_message }}</span>
                    </v-tooltip>
                  </template>
                </v-text-field>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat :loading="postFeedbackLoading">
              <v-card-text>
                <v-row>
                  <v-col cols="12">
                    <span><h1>Subject</h1></span>
                    <v-text-field
                      label="Enter subject"
                      v-model="subject"
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <span><h1>Support Body</h1></span>
                    <v-textarea
                      outlined
                      v-model="body"
                      name="input-7-4"
                      dense
                      label="Enter body"
                    ></v-textarea>
                  </v-col>
                  <v-col cols="12" class="d-flex justify-end">
                    <v-btn
                      id="save"
                      width="150px"
                      depressed
                      color="primary"
                      :loading="postFeedbackLoading"
                      @click="postFeedback"
                      class="text-capitalize title title white--text text--darken-4 mr-2"
                    >
                      Submit
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-container>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import pdf from "vue-pdf";
import { mapState } from "vuex";
export default {
  components: {
    pdf,
  },
  data() {
    return {
      tooltip_message: "copy",
      numPages: 15,
      show: false,
      subject: "",
      body: "",
      project_id: "",
    };
  },
  methods: {
    fetchKey(){
        let data = {
        projectId: this.project_id,
      };
      this.$store.dispatch("fetchApiKey",data);
    },
    onCopy: function (e) {
      this.tooltip_message = "Copied!!";
      alert("You just copied: " + e.text);
    },
    onError: function (e) {
      console.log(e);
      alert("Failed to copy texts");
    },
    setNull() {
      this.subject = "";
      this.body = "";
    },
    closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
    postFeedback() {
      let data = {
        subject: this.subject,
        message: this.body,
        projectId: this.project_id,
      };
      this.$store
        .dispatch("postFeedback", data)
        .then(() => {
          if (this.isFeedbackPosted == true) {
            this.setNull();
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Feedback Submitted Succesfully"
            );
          } else {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to submit feedback!!"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },

  created() {
    let id = parseInt(this.$route.params.id, 10);
    this.project_id = id;
    this.$store.dispatch("fetchProjectDocumentation", id);
  },
  destroyed() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
  computed: {
    ...mapState([
      "projectDocumentation",
      "fetchProjectDocumentationLoading",
      "fetchProjectDocumentationError",
      "isFeedbackPosted",
      "postFeedbackLoading",
      "postFeedbackError",
      "snackbar",
      "snackbar_message",
      "apiKey",
      "fetchApiKeyLoading",
      "fetchApiKeyError",
    ]),
  },
};
</script>

<style></style>
