<template>
  <v-stepper v-model="e1" editable>
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1"
        >Project Details</v-stepper-step
      >
      <v-divider></v-divider>
      <v-stepper-step :complete="e1 > 2" step="2">Project Files</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="e1 > 3" step="3"
        >Codebase Links</v-stepper-step
      >
      <v-btn text color="blue darken-4" @click="toggleDialog">
        <v-icon right>mdi-close</v-icon>
      </v-btn>
    </v-stepper-header>
    <v-stepper-items>
      <v-stepper-content step="1" class="px-0">
        <v-card flat>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <span><h1>Team Name</h1></span>
                  <v-text-field
                    label="Enter Team Name"
                    v-model="team_name"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <span><h1>Project Name</h1></span>
                  <v-text-field
                    v-model="projectName"
                    label="Enter Name"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <span><h1>Project Category</h1></span>
                  <v-autocomplete
                    v-model="category_name"
                    label="Category"
                    outlined
                    dense
                    :items="getCategoryNames"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12">
                  <span><h1>Project Description</h1></span>
                  <v-textarea
                    outlined
                    v-model="projectDescription"
                    name="input-7-4"
                    dense
                    label="Project Description"
                  ></v-textarea>
                </v-col>
                <v-col cols="12">
                  <span><h1>Usage Agreement</h1></span>
                  <v-textarea
                    outlined
                    v-model="agreement"
                    name="input-7-4"
                    dense
                    label="Usage Agreement"
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
        <v-card-actions class="justify-center">
          <v-btn
            id="save"
            width="150px"
            depressed
            color="primary"
            class="text-capitalize title title white--text text--darken-4 mr-2"
            @click="e1 = 2"
          >
            Next
            <v-icon>mdi-arrow-right</v-icon>
          </v-btn>
        </v-card-actions>
      </v-stepper-content>
      <v-stepper-content step="2">
        <v-card flat>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-file-input
                    v-model="projectImage"
                    placeholder="Project Image"
                    label="Project Image"
                    prepend-icon="mdi-paperclip"
                    outlined
                  ></v-file-input>
                </v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="concept_paper"
                    placeholder="Upload Concept Paper"
                    label="Concept Paper"
                    prepend-icon="mdi-paperclip"
                    outlined
                  ></v-file-input>
                </v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="requirements_document"
                    placeholder="Upload Rquirements Document"
                    label="Software Requirements Document"
                    prepend-icon="mdi-paperclip"
                    outlined
                  ></v-file-input>
                </v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="design_document"
                    placeholder="Upload SDD"
                    label="Software Design Document"
                    prepend-icon="mdi-paperclip"
                    outlined
                  ></v-file-input>
                </v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="user_manual"
                    placeholder="Upload User Manual"
                    label="User Manual"
                    prepend-icon="mdi-paperclip"
                    outlined
                  ></v-file-input>
                </v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="hardware_schematics"
                    placeholder="Upload Hardware Schematics"
                    label=" Hardware Schematics"
                    prepend-icon="mdi-paperclip"
                    outlined
                  ></v-file-input>
                </v-col>
                <v-col cols="12">
                  <v-file-input
                    v-model="gallery"
                    color="deep-purple accent-4"
                    counter
                    label="Gallery"
                    hint="Select multiple images"
                    persistent-hint
                    multiple
                    placeholder="Select images"
                    prepend-icon="mdi-paperclip"
                    outlined
                    :show-size="1000"
                  >
                    <template v-slot:selection="{ index, text }">
                      <v-chip
                        v-if="index < 5"
                        color="deep-purple accent-4"
                        dark
                        label
                        small
                      >
                        {{ text }}
                      </v-chip>

                      <span
                        v-else-if="index === 2"
                        class="overline grey--text text--darken-3 mx-2"
                      >
                        +{{ files.length - 2 }} File(s)
                      </span>
                    </template>
                  </v-file-input>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
        <div class="text-center">
          <v-btn
            id="go-back"
            text
            color="blue darken-4"
            @click="e1 = 1"
            class="text-capitalize title mr-3"
          >
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>

          <v-btn
            id="check-code"
            depressed
            color="primary"
            class="text-capitalize title title white--text text--darken-4 mr-2"
            type="submit"
            @click="e1 = 3"
          >
            <span class="d-none d-sm-flex">Next</span>
            <v-icon>mdi-arrow-right</v-icon>
          </v-btn>
        </div>
      </v-stepper-content>
      <v-stepper-content step="3">
        <v-card flat>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <span><h1>Link To Codebase</h1></span>
                  <v-text-field
                    v-model="codebase_link"
                    label="Paste Git URL(public repo)"
                    dense
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
        <div class="text-center">
          <v-btn
            id="go-back"
            text
            color="blue darken-4"
            @click="e1 = 2"
            class="text-capitalize title mr-3"
          >
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>

          <v-btn
            id="check-code"
            depressed
            color="primary"
            class="text-capitalize title title white--text text--darken-4 mr-2"
            type="submit"
            :loading="addProjectLoading"
            @click="addProject"
          >
            <v-icon>mdi-check</v-icon>
            <span class="d-none d-sm-flex">Submit</span>
          </v-btn>
        </div>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import { mapState, mapGetters } from "vuex";
export default {
  name: "add-project-stepper",

  data() {
    return {
      editorOption: {},
      agreement: "",
      team_name: "",
      e1: 1,
      projectName: "",
      projectDescription: "",
      gallery: [],
      architecture: "",
      codebase_link: "",
      projectImage: null,
      concept_paper: null,
      category_name: "",
      requirements_document: null,
      design_document: null,
      user_manual: null,
      hardware_schematics: null,
    };
  },
  methods: {
    toggleDialog() {
      this.$store.dispatch("stepper_toggler", false);
    },
    addProject() {
      let category = this.$store.getters.getCategoryByName(this.category_name);
      let data = new FormData();
      for (var i = 0; i < this.gallery.length; i++) {
        data.append("gallery[]", this.gallery[i]);
      }
      data.append("teamName", this.team_name);
      data.append("projectName", this.projectName);
      data.append("projectDescription", this.projectDescription);
      data.append("licenseAgreement", this.agreement);
      data.append("categoryId", category.id);
      data.append("projectImage", this.projectImage);
      data.append("conceptPaper", this.concept_paper);
      data.append("srs", this.requirements_document);
      data.append("sdd", this.design_document);
      data.append("hardwareSchematics", this.hardware_schematics);
      data.append("userManual", this.user_manual);
      data.append("link", this.codebase_link);
      this.$store
        .dispatch("postProject", data)
        .then(() => {
          if (this.isProjectAdded == true) {
            this.$store.dispatch("stepper_toggler", false);
            this.$store.dispatch("fetchUserProjects", this.user_id);
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Project Added Succesfully"
            );
          } else {
            this.$store.dispatch("stepper_snackbar", true);
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to add project"
            );
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  computed: {
    ...mapGetters(["user_id", "getCategoryNames"]),
    ...mapState(["isProjectAdded", "addProjectLoading", "addProjectError"]),
  },
};
</script>

<style>
@media screen and (max-width: 600px) {
  .v-input .v-label {
    font-size: 0.9rem;
  }
}
</style>
