<template>
  <v-container>
    <template>
      <v-row justify="center">
        <v-dialog
          :value="toggleModalDialog"
          persistent
          @keydown.esc="escapeClose"
          min-width="600px"
          width="100%"
        >
          <AddProjectStepper />
        </v-dialog>
      </v-row>
    </template>
  </v-container>
</template>
<script>
import AddProjectStepper from "./AddProjectStepper"

import { mapState } from 'vuex'
export default {
    name: 'modal-dialog',
    methods: {
        toggleStepper() {
            this.$store.dispatch('stepper_toggler', true)
        },
        escapeClose() {
            this.$store.dispatch('stepper_toggler', false)
        }
    },
    computed: {
        ...mapState(['toggleModalDialog'])
    },
    components: {
        AddProjectStepper
    }
};
</script>

<style>
.modal-title {
  display: block;
  width: 100%;
  text-align: center !important;
}
</style>
