<template>
  <nav id="studioBar">
    <v-app-bar class="white" app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="font-weight-bold"
        ><router-link
          to="/admin-dashboard"
          router
          class="black--text"
          style="text-decoration: none"
          >Admin Dashboard</router-link
        ></v-toolbar-title
      >
      <v-spacer></v-spacer>
      <v-text-field
        flat
        hide-details
        append-icon="mdi-magnify"
        placeholder="Search"
        outlined
        dense
        @click:append="search"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-spacer></v-spacer>

      <v-menu offset-y left>
        <template v-slot:activator="{ on }">
          <v-btn small color="primary" depressed fab v-on="on" class="white--text">
            <template>
              <span class="headline">
                {{ username.split("")[0].toUpperCase() }}
              </span>
            </template>
          </v-btn>
        </template>

        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <v-btn
                  small
                  color="primary"
                  depressed
                  fab
                  v-on="on"
                  class="white--text"
                >
                  <template>
                    <span class="headline">
                      {{ username.split("")[0].toUpperCase() }}
                    </span>
                  </template>
                </v-btn>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title class="text-capitalize"
                  >{{username}}</v-list-item-title
                >
                <v-list-item-subtitle>{{email}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list>
            <!-- <v-list-item router to="/">
              <v-list-item-icon>
                <v-icon>mdi-account-box</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Profile</v-list-item-title>
            </v-list-item> -->
            <v-list-item   @click="logout">
              <v-list-item-icon>
                <v-icon>mdi-login-variant</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Sign out</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" clipped app id="nav">
      <div tag="div" class="v-navigation-drawer__content" v-bar>
        <v-list tile class="py-0">
          <v-list-item
            v-for="item in items[0].pages"
            :key="item.title"
            href
            tile
            class="mb-0"
            router
            :to="item.link"
            exact
            active-class="active-item"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class=" font-weight-medium subtitle-2">{{
                item.title
              }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
      <template v-slot:prepend>
        <div class="pa-2 text-center">
          <v-list class="text-center">
            <v-list-item class="px-2">
              <v-btn
                height="95"
                width="95"
                x-large
                color="primary"
                depressed
                fab
                class="white--text mx-auto"
              >
                <span class="display-3">
                  {{ username.split("")[0].toUpperCase() }}
                </span>
              </v-btn>
            </v-list-item>

            <v-list-item link>
              <v-list-item-content>
                <v-list-item-title class="title"
                  >{{username}}</v-list-item-title
                >
                <v-list-item-subtitle>{{email}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </div>
      </template>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "StudentNavBar",
  data: () => ({
    drawer: false,
    items: [
      {
        header: "scroll",
        pages: [
          {
            title: "Dashboard",
            link: "/admin-dashboard",
            icon: "mdi-view-dashboard",
          },
          {
            title: "Students",
            link: "/admin-dashboard/students",
            icon: "mdi-account-group",
          },
          {
            title: "Administrators",
            link: "/admin-dashboard/administrators",
            icon: "mdi-account-convert",
          },
          {
            title: "All Collaborators",
            link: "/admin-dashboard/all-collaborators",
            icon: "mdi-handshake",
          },
          {
            title: "Guest Users",
            link: "/admin-dashboard/guest-users",
            icon: "mdi-account-tie",
          },
          {
            title: "Project Categories",
            link: "/admin-dashboard/project-categories",
            icon: "mdi-clipboard-multiple",
          },
          {
            title: "Projects",
            link: "/admin-dashboard/projects",
            icon: "mdi-cellphone-link",
          },
        ],
      },
    ],
    dialog: false,
    settingsDialog: false,
  }),
  methods: {
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/");
    },
    search() {
      console.log("hello");
    },
    modal() {
      this.dialog = true;
    },
    settingsMoal(title) {
      if (title !== "Settings") return;
      this.settingsDialog = true;
    },
  },
  mounted() {
    this.drawer = this.$vuetify.breakpoint.mdAndDown ? false : true;
  },
   computed: {
    ...mapGetters(["user_type", "isAuthenticated", "username", "email"]),
  },
};
</script>

<style lang="scss">
#studioBar {
  .active-item {
    border-left: 3px solid #cc0202;
    .v-list-item__icon,
    .subtitle-2 {
      color: #cc0202 !important;
    }
  }
  .createVideoBtn {
    border-color: rgb(185, 181, 181);
  }

  .vuebar-element {
    height: 250px;
    width: 100%;
    max-width: 500px;
    background-color: #8d8a8a !important;
  }

  .vb > .vb-dragger {
    z-index: 5;
    width: 10px;
    right: 0;
  }

  .vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 0, 0);
    transform: rotate3d(0, 0, 0, 0);
    -webkit-transition: margin 100ms ease-out, height 100ms ease-out;
    transition: margin 100ms ease-out, height 100ms ease-out;

    margin: 5px 5px 5px 0;

    height: calc(100% - 10px);
    display: block;
    width: 10px;
    background-color: #8d8a8a;
  }
  .v-navigation-drawer__content:hover .vb > .vb-dragger > .vb-dragger-styler {
    width: 10px;
    background-color: #8d8a8a;
  }
  .vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: #8d8a8a;
  }

  .vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: #8d8a8a;
  }

  .vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: #8d8a8a;
    margin: 0px;
    height: 100%;
  }

  .vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: #8d8a8a;
  }
}
</style>
