<template>
  <v-footer padless>
    <v-card flat tile class="text-center">
      <v-row>
        <v-col cols="12" md="2" class="d-flex justify-center">
          <img
            src="http://alvanblanchgroup.com/sites/default/files/Makerere-University-Logo.png"
            alt="Mak Logo"
            class="mak_logo"
          />
        </v-col>
        <v-col cols="12" md="10">
          <v-card-text>
            <v-btn v-for="icon in icons" :key="icon" class="mx-4" icon>
              <v-icon size="24px">
                {{ icon }}
              </v-icon>
            </v-btn>
          </v-card-text>

          <v-card-text class="pt-0">
            IoT marketplace system is a system that will enable students at
            Makerere University who develop IoTs to upload their developed IoT
            systems, install device scripts, monitor the deployed devices,
            receive funding, and receive user feedback in the form of reviews
            and comments and attract other experienced people to collaborate
            with them in completing and updating their IoT devices
          </v-card-text>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-card-text>
        {{ new Date().getFullYear() }} — <strong>IoT Marketplace</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"],
  }),
};
</script>
<style scoped>
.mak_logo {
  object-fit: contain;
  width: 140px !important;
  height: 140px;
  align-items: center;
  margin-top: 10px;
}
</style>
