<template>
  <v-card
    class="content-bg card mx-auto"
    :max-width="card.maxWidth"
    hover
    rounded
    router
    :to="`device-readings/${project.id}`"
    height="220"
  >
    <v-img
      :src="`http://173.212.252.138/${project.projectImage}`"
      height="140"
    ></v-img>
    <v-row no-gutters>
      <v-col>
        <v-card-title
          class="pl-2 pt-3 subtitle-1 font-weight-bold"
          style="line-height: 1.2rem"
        >
          {{ project.projectName }}
        </v-card-title>

        <v-card-subtitle class="pl-2 pb-6">
          {{ project.teamName }}
        </v-card-subtitle>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "ProjectCard",
  props: {
    project: {
      type: Object,
      required: true,
    },
    card: Object,
  },
  data() {
    return {
      url: "process.env.VUE_APP_URL",
      rating: 4.5,
    };
  },
  methods: {
    selectProject(id) {
      console.log("ID", id);
      this.$store.dispatch("selectProject", id);
      this.$router.push("/student-dashboard");
    },
  },
  computed: {
    ...mapState(["selected_project"]),
  },
};
</script>

<style></style>
