<template>
  <v-app-bar app class="app-nav white" flat>
    <v-toolbar-title class="font-weight-medium"
      ><router-link to="/" class="black--text" style="text-decoration: none">
        <img src="../assets/img/inomak.png" class="header_logo" /> </router-link
    ></v-toolbar-title>
    <v-spacer></v-spacer>
    <v-text-field
      v-model="searchTerm"
      flat
      hide-details
      append-icon="mdi-magnify"
      placeholder="Search"
      outlined
      rounded
      dense
    ></v-text-field>
    <v-spacer></v-spacer>
    <v-menu open-on-hover offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn class="text-capitalize" text v-bind="attrs" v-on="on">
          <span class="mr-2">Categories</span>
        </v-btn>
      </template>
      <v-list nav dense>
        <v-list-item
          link
          v-for="(item, index) in categories"
          :key="index"
          class="category-title mt-0 pt-0"
          router
          :to="`/projet-category/${item.id}`"
        >
          <v-list-item-title>{{ item.category }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

    <v-btn
      target="_blank"
      class="text-capitalize"
      text
      @click="loadDashboard"
      v-show="user_type != 'guest'"
    >
      <span class="mr-2">Dashboard</span>
    </v-btn>

    <router-link to="/login" class="link" v-show="!isAuthenticated">
      <v-btn target="_blank" class="text-capitalize" text>
        <span class="mr-2">Login</span>
      </v-btn>
    </router-link>
    <router-link to="/signup" class="link" v-show="!isAuthenticated">
      <v-btn target="_blank" class="text-capitalize" text>
        <span class="mr-2">Register</span>
      </v-btn>
    </router-link>
    <v-menu offset-y left v-if="isAuthenticated">
      <template v-slot:activator="{ on }">
        <v-btn
          small
          color="primary"
          depressed
          fab
          v-on="on"
          class="white--text"
        >
          <template>
            <span class="headline">
              {{ username.split("")[0].toUpperCase() }}
            </span>
          </template>
        </v-btn>
      </template>
      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-avatar>
              <v-btn
                small
                color="primary"
                depressed
                fab
                v-on="on"
                class="white--text"
              >
                <template>
                  <span class="headline">
                    {{ username.split("")[0].toUpperCase() }}
                  </span>
                </template>
              </v-btn>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title class="text-capitalize">{{
                username
              }}</v-list-item-title>
              <v-list-item-subtitle>{{ email }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list>
          <v-list-item router to="/guest-profile" v-show="user_type == 'guest'">
            <v-list-item-icon>
              <v-icon>mdi-account-box</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Account Information</v-list-item-title>
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-icon>
              <v-icon>mdi-login-variant</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Sign out</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
  </v-app-bar>
</template>

<script>
import { mapGetters, mapState } from "vuex";
export default {
  name: "Home",
  data() {
    return {
      items: [
        { title: "Agriculture" },
        { title: "Education" },
        { title: "Health" },
        { title: "Business & Finance" },
        { title: "Transport & Logistics" },
        { title: "Community Good" },
        { title: "Home and Entertainment" },
        { title: "Computing Algorithms & Services" },
        { title: "Utility" },
        { title: "Power & Green Energy" },
        { title: "Justice, Law & Order" },
      ],
    };
  },
  methods: {
    loadDashboard() {
      if (
        this.user_type == "super-admin" ||
        (this.user_type == "admin" && this.isAuthenticated)
      ) {
        this.$router.push("/admin-dashboard");
      } else {
        this.$router.push("/project-list");
      }
    },
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/");
    },
  },
  computed: {
    searchTerm: {
      get() {
        return this.$store.getters.searchTerm;
      },
      set(value) {
        this.$store.dispatch("searchTerm", value);
      },
    },
    ...mapState(["categories"]),
    ...mapGetters(["user_type", "isAuthenticated", "username", "email"]),
  },
  beforeCreate() {
    this.$store.dispatch("fetchCategories");
  },
};
</script>

<style scoped>
.header_logo {
  object-fit: contain;
  height: 90px;
  width: 90px;
  padding: 10px;
}
.link {
  text-decoration: none;
}
.category-title {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.app-nav {
  border-bottom: 1px solid lightgray !important;
}
</style>
