<template>
   <div>
      <v-alert
        border="left"
        colored-border
        color="deep-purple accent-4"
        class="mr-10 ml-2"
        dense
        elevation="2"
      >
        <v-row>
          <v-col cols="12" md="1">
            <v-btn
              height="50"
              width="50"
              color="primary"
              depressed
              fab
              class="white--text mx-auto"
            >
              <span class="display-1">
                {{ review.first_name.split("")[0].toUpperCase()}}
              </span>
            </v-btn>
          </v-col>
          <v-col cols="12" md="10">
            <span><h1>{{review.first_name}} {{review.last_name}}</h1></span>
           {{review.comment}}
          </v-col>
        </v-row>
      </v-alert>
    </div>
</template>

<script>
export default {
   props: {
    review: {
      type: Object,
      required: true,
    },
  },
    data(){
        return{
             username: "wamozo cosmas",
        }
    }

}
</script>

<style>

</style>