<template>
  <nav id="studioBar">
    <v-app-bar class="white" app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="font-weight-bold"
        ><router-link
          to="/student-dashboard"
          class="black--text"
          style="text-decoration: none"
          >Student Dashboard</router-link
        ></v-toolbar-title
      >
      <v-spacer></v-spacer>
      <v-text-field
        flat
        hide-details
        append-icon="mdi-magnify"
        placeholder="Search"
        outlined
        dense
        @click:append="search"
        class="hidden-sm-and-down"
      ></v-text-field>
      <v-spacer></v-spacer>
      <!-- <v-tooltip bottom>
        <template v-slot:activator="{ on: tooltip }">
          <v-btn icon class="mr-7" v-on="{ ...tooltip, ...menu }"
            ><v-icon size="25">mdi-video-plus</v-icon></v-btn
          >
        </template>
        <span>Create a video and more</span>
      </v-tooltip> -->
      <v-menu offset-y left>
        <template v-slot:activator="{ on }">
          <v-btn
            small
            color="primary"
            depressed
            fab
            v-on="on"
            class="white--text"
          >
            <template>
              <span class="headline">
                {{ username.split("")[0].toUpperCase() }}
              </span>
            </template>
          </v-btn>
        </template>
        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <v-btn
                  small
                  color="primary"
                  depressed
                  fab
                  v-on="on"
                  class="white--text"
                >
                  <template>
                    <span class="headline">
                      {{ username.split("")[0].toUpperCase() }}
                    </span>
                  </template>
                </v-btn>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="text-capitalize">{{
                  username
                }}</v-list-item-title>
                <v-list-item-subtitle>{{ email }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>
          <v-list>
            <v-list-item @click="logout">
              <v-list-item-icon>
                <v-icon>mdi-login-variant</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Sign out</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" clipped app id="nav">
      <div tag="div" class="v-navigation-drawer__content" v-bar>
        <v-list tile class="py-0">
          <v-list-item
            v-for="item in items[0].pages"
            :key="item.title"
            href
            tile
            class="mb-0"
            router
            :to="item.link"
            exact
            active-class="active-item"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="font-weight-medium subtitle-2">{{
                item.title
              }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>

      <template v-slot:append>
        <div>
          <v-divider></v-divider>
          <v-list>
            <v-list-item
              v-for="item in items[1].pages"
              :key="item.title"
              link
              class="mb-0"
              :to="item.link === '' ? '' : item.link"
              exact
              active-class="active-item"
            >
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="font-weight-medium">{{
                  item.title
                }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </div>
      </template>

      <template v-slot:prepend>
        <div class="pa-2 text-center">
          <v-list class="text-center">
            <v-list-item class="px-2">
              <v-btn
                height="75"
                width="75"
                x-large
                color="primary"
                depressed
                fab
                class="white--text mx-auto"
              >
                <span class="display-3">
                  {{ username.split("")[0].toUpperCase() }}
                </span>
              </v-btn>
            </v-list-item>

            <v-list-item link>
              <v-list-item-content>
                <v-list-item-title class="title">{{
                  username
                }}</v-list-item-title>
                <v-list-item-subtitle>{{ email }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </div>
      </template>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "StudentNavBar",
  data() {
    return {
      drawer: false,
      items: [
        {
          header: "scroll",
          pages: [
            {
              title: "Dashboard",
              link: "/student-dashboard",
              icon: "mdi-view-dashboard",
            },
            {
              title: "Team Members",
              link: "/student-dashboard/team-members",
              icon: "mdi-account-group",
            },
            {
              title: "Clones",
              link: "/student-dashboard/clones",
              icon: "mdi-briefcase-download-outline",
            },
            {
              title: "Features",
              link: "/student-dashboard/features",
              icon: "mdi-clipboard-text-multiple",
            },
            {
              title: "Collaborators",
              link: "/student-dashboard/collaborators",
              icon: "mdi-handshake",
            },
            {
              title: "Collaboration Calls",
              link: "/student-dashboard/collaboration-calls",
              icon: "mdi-phone-classic",
            },
            {
              title: "Collaboration Requests",
              link: "/student-dashboard/collaboration-requests",
              icon: "mdi-application-import",
            },
            {
              title: "Reviews",
              link: "/student-dashboard/reviews",
              icon: "mdi-comment-multiple",
            },
          ],
        },
        {
          header: "fixed",
          pages: [
            {
              title: "Simulate Project",
              link: "/student-dashboard/simulate-project",
              icon: "mdi-video",
            },
          ],
        },
      ],
      dialog: false,
      settingsDialog: false,
    };
  },
  methods: {
    search() {
      console.log("hello");
    },
    modal() {
      this.dialog = true;
    },
    settingsMoal(title) {
      if (title !== "Settings") return;
      this.settingsDialog = true;
    },
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/");
    },
  },
  mounted() {
    this.drawer = this.$vuetify.breakpoint.mdAndDown ? false : true;
  },
  computed: {
    ...mapGetters(["user_type", "isAuthenticated", "username", "email"]),
  },
};
</script>

<style lang="scss">
#studioBar {
  .active-item {
    border-left: 3px solid #cc0202;
    .v-list-item__icon,
    .subtitle-2 {
      color: #cc0202 !important;
    }
  }
  .createVideoBtn {
    border-color: rgb(185, 181, 181);
  }

  .vuebar-element {
    height: 250px;
    width: 100%;
    max-width: 500px;
    background-color: #8d8a8a !important;
  }

  .vb > .vb-dragger {
    z-index: 5;
    width: 10px;
    right: 0;
  }

  .vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 0, 0);
    transform: rotate3d(0, 0, 0, 0);
    -webkit-transition: margin 100ms ease-out, height 100ms ease-out;
    transition: margin 100ms ease-out, height 100ms ease-out;

    margin: 5px 5px 5px 0;

    height: calc(100% - 10px);
    display: block;
    width: 10px;
    background-color: #8d8a8a;
  }
  .v-navigation-drawer__content:hover .vb > .vb-dragger > .vb-dragger-styler {
    width: 10px;
    background-color: #8d8a8a;
  }
  .vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: #8d8a8a;
  }

  .vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: #8d8a8a;
  }

  .vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: #8d8a8a;
    margin: 0px;
    height: 100%;
  }

  .vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: #8d8a8a;
  }
}
</style>
