<template>
  <v-card class="transparent" flat>
    <v-list-item three-line class="pl-0">
      <v-list-item-avatar size="50">
        <v-avatar color="primary">
          <span class="white--text headline ">
            {{ username.split("")[0].toUpperCase() }}</span
          >
        </v-avatar>
      </v-list-item-avatar>
      <v-list-item-content class="align-self-auto">
        <v-text-field v-model="comment" placeholder="Add a public comment...">
        </v-text-field>
        <div v-if="showCommentBtns" class="d-inline-block text-right">
          <v-btn text @click="showCommentBtns = !showCommentBtns">Cancel</v-btn>
          <v-btn
            class="blue darken-3 white--text"
            depressed
            tile
            :loading="postReviewLoading"
            :disabled="comment === ''"
            @click="createComment"
            >Comment</v-btn
          >
        </div>
      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>

<script>
// import CommentList from '@/components/comments/CommentList'
import { mapState,mapGetters } from "vuex";
export default {
  props: {
    videoId: {
      type: String,
      required: true,
     
    },
  },
  data: function() {
    return {
      showCommentBtns: true,
      loading: false,
      isAuthenticated: false,
      comment: "",
    };
  },
  methods: {
     closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
    setNull(){
      this.comment =""
    },
    createComment() {
      let data = {
        comment: this.comment,
        projectId: this.project.project.id,
      };
      this.$store
        .dispatch("postReview", data)
        .then(() => {
          if (this.isReviewPosted == true) {
            this.$store.dispatch("fetchProjectDetailsWithoutLoading", this.selected_project);
            this.$store.dispatch("set_snackbar_message", "Review Posted");
            this.$store.dispatch("stepper_snackbar", true);
            this.setNull();
          } else {
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to post review"
            );
            this.$store.dispatch("stepper_snackbar", true);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },

  },
  beforeDestroy() {
    this.$store.dispatch("set_snackbar_message", "");
    this.$store.dispatch("stepper_snackbar", false);
  },
  computed: {
    ...mapGetters(['username']),
    ...mapState([
      "isReviewPosted",
      "postReviewLoading",
      "postReviewError",
      "project",
      "snackbar",
      "selected_project",
      "snackbar_message",
    ]),
  },
};
</script>

<style></style>
