<template>
  <div>
    <div v-if="!project.reviews.length">
      <p>No comment yet, leave a comment</p>
    </div>
    <div v-for="(comment, i) in loading ? 4 : project.reviews" :key="comment.id" v-else>
      <v-skeleton-loader type="list-item-avatar-two-line" :loading="loading">
        <v-card class="transparent" flat>
          <v-list-item three-line class="pl-0 mt-2">
            <v-list-item-avatar
              v-if="typeof comment.userId !== 'undefined'"
              size="50"
            >
              <!-- <v-img
                v-if="comment.userId.photoUrl !== 'no-photo.jpg'"
                class="elevation-6"
                :src="`${url}/uploads/avatars/${comment.userId.photoUrl}`"
              ></v-img> -->
              <v-avatar color="primary">
                <span class="white--text headline ">
                  {{ comment.first_name.split("")[0].toUpperCase() }}</span
                >
              </v-avatar>
            </v-list-item-avatar>
            <v-list-item-content>
              <div class="d-flex mb-0">
                <v-list-item-title
                  v-if="comment.first_name"
                  class="font-weight-medium caption mb-0 d-flex"
                  >{{ comment.first_name }} {{ comment.last_name }} 
                  <!-- <span class="pl-2 font-weight-light grey--text">
                    {{ dateFormatter(comment.createdAt) }}</span
                  > -->
                </v-list-item-title>
                <v-menu bottom left>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>

                  <v-list>
                    <v-list-item @click="deleteComment(comment._id)">
                      <v-list-item-title
                        ><v-icon>mdi-trash</v-icon>Delete</v-list-item-title
                      >
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
              <v-list-item-subtitle
                class="mt-n2 black--text text--darken-4 caption"
                >{{ comment.comment }}</v-list-item-subtitle
              >

              <div>
                <v-btn
                  text
                  small
                  :ripple="false"
                  @click.stop="showReply(`${'reply' + comment.id}`)"
                  >Reply</v-btn
                >
              </div>
              <div class="d-none" :ref="`${'reply' + comment.id}`">
                <v-list-item three-line class="pl-0">
                  <v-list-item-avatar
                    v-if="typeof comment.userId !== 'undefined'"
                    class="mt-2"
                    size="40"
                  >
                    <template>
                      <v-avatar color="primary">
                        <span class="white--text headline ">
                          {{ comment.first_name.split("")[0].toUpperCase() }}</span
                        >
                      </v-avatar>
                    </template>
                  </v-list-item-avatar>
                  <v-list-item-content class="align-self-auto mt-0 pt-0">
                    <v-form :ref="`form${comment.id}`">
                      <v-text-field
                      v-model="comment_reply"
                        :ref="`${'input' + comment.id}`"
                        class="pt-0 mt-0 body-2"
                        placeholder="Add a public comment..."
                        @click="clickTextField"
                        :value="repliesInput[`input${comment.id}`]"
                      >
                      </v-text-field>
                    </v-form>
                    <div
                      :ref="comment.id + 'btns'"
                      class="d-inline-block text-right"
  
                    >
                      <v-btn text @click="hideReply(comment.id)" small
                        >Cancel</v-btn
                      >
                      <v-btn
                        class="blue darken-3 white--text"
                        depressed
                        tile
                        small
                        :loading="postReplyLoading && i == index"
                        @click="
                          index = i;
                          addReply($event, comment.id);
                        "
                        >Reply</v-btn
                      >
                    </div>
                  </v-list-item-content>
                </v-list-item>
  
              </div>
              <v-expansion-panels>
                <v-expansion-panel class="transparent elevation-0">
                  <v-expansion-panel-header
                    v-if="comment.replies && comment.replies.length > 0"
                    class="blue--text text--darken-4 py-0"
                    >{{
                      comment.replies.length
                    }}
                    replies</v-expansion-panel-header
                  >
                  <v-expansion-panel-content>
                    <v-list-item
                      three-line
                      class="pl-0 mt-2"
                      v-for="reply in comment.replies"
                      :key="reply.id"
                    >
                      <v-list-item-avatar
                        v-if="typeof reply !== 'undefined'"
                        size="50"
                      >
              
                        <v-avatar color="primary">
                          <span class="white--text headline ">
                            {{ reply.first_name.split("")[0].toUpperCase() }}</span
                          >
                        </v-avatar>
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <div class="d-flex mb-0">
                          <v-list-item-title
                            v-if="reply.userId"
                            class="font-weight-medium caption mb-0 d-flex"
                            >{{ reply.first_name }} {{ reply.last_name }}
                            <!-- <span class="pl-2 font-weight-light grey--text">
                              {{ dateFormatter(reply.createdAt) }}</span
                            > -->
                          </v-list-item-title>
                          <v-menu bottom left>
                            <template v-slot:activator="{ on }">
                              <v-btn icon v-on="on">
                                <v-icon>mdi-dots-vertical</v-icon>
                              </v-btn>
                            </template>

                            <v-list>
                              <v-list-item
                                @click="deleteReply(comment._id, reply._id)"
                              >
                                <v-list-item-title
                                  ><v-icon>mdi-trash</v-icon
                                  >Delete</v-list-item-title
                                >
                              </v-list-item>
                            </v-list>
                          </v-menu>
                        </div>
                        <v-list-item-subtitle
                          class="mt-n2 black--text text--darken-4 caption"
                          >{{ reply.comment}}</v-list-item-subtitle
                        >
                      </v-list-item-content>
                    </v-list-item>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-skeleton-loader>
    </div>
    <div class="text-center ma-2">
      <v-snackbar v-model="snackbar">
        {{ snackbar_message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { mapState } from "vuex";
export default {
  props: {
   
  },
  data: function() {
    return {
      repliesInput: {},
      username: "wamozo cosmas",
      commentsLength: false,
      index: -1,
      btnLoading: false,
      comment_reply:"",
      snackbar: false,
      loading: false,
    };
  },
  methods: {
    clickTextField() {
    //   if (!this.isAuthenticated) return this.$router.push("/signin");
    },
    showReply(id) {
      this.$refs[id][0].classList.toggle("d-none");
    },
    hideReply(id) {
      this.$refs[`form${id}`][0].reset();
      this.$refs["reply" + id][0].classList.toggle("d-none");
    },
    dateFormatter(date) {
      return moment(date).fromNow();
    },
    deleteComment(id){
      console.log(id)
    },
    deleteReply(id){
       console.log(id)
    },
    addReply(e,id){
      console.log(e)
       let data = {
        comment: this.comment_reply,
        projectId: this.project.project.id,
        parentId: id
      };
      this.$store
        .dispatch("postReply", data)
        .then(() => {
          if (this.isReplyPosted == true) {
            this.comment_reply = "";
            this.hideReply(id)
            this.$store.dispatch("fetchProjectDetailsWithoutLoading", this.selected_project);
            this.$store.dispatch("set_snackbar_message", "Reply Posted");
            this.$store.dispatch("stepper_snackbar", true);
            this.setNull();
          } else {
            this.$store.dispatch(
              "set_snackbar_message",
              "Failed to post reply"
            );
            this.$store.dispatch("stepper_snackbar", true);
          }
        })
        .catch((err) => {
          console.log(err);
        });

    },
     closeSnackbar() {
      this.$store.dispatch("stepper_snackbar", false);
    },
  },

  mounted() {},
   computed: {
    ...mapState([
      "isReplyPosted",
      "postReplyLoading",
      "postReplyError",
      "project",
      "snackbar",
      "snackbar_message",
      "selected_project"
    ]),
  },
};
</script>

<style lang="scss">
.v-application--is-ltr .v-expansion-panel-header__icon {
  margin-left: initial;
}

.v-expansion-panel::before {
  box-shadow: initial;
}
</style>
