<template>
  <v-app>
    <v-scroll-x-transition mode="out-in">
      <router-view></router-view>
    </v-scroll-x-transition>
  </v-app>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
body,
* {
  font-family:  'Open Sans', sans-serif !important;
  font-size: 100%;
}
</style>
